.pull-left
  = link_to "Home", root_path, :class => 'btn btn-primary' 

.container{:ng_controller => "DailycheckController", :ng_init => "loadDailychecks('#{@rolee}', '#{@check_id}')"}
  .row
    .col-md-16
      .panel.panel-default
        .panel-heading
          %span.fa.fa-comments.fa-lg
            Daily Check
          -# .pull-right
          -#   %h4
          -#     %label.label{:ng_class => "labelClasses[tag]", :ng_show => "tag"} {{parent_tag}}
        .panel-body{:style => "max-height:150px; overflow-y: auto;"}
          %ul.chat
            %li.right.clearfix{:ng_repeat => "dailycheck in dailychecks"}
              .chat-body.clearfix
                %p
                  {{dailycheck.description}}
                  %label.label{:ng_class => "labelClasses[dailycheck.tag]", :ng_show => "dailycheck.tag"} {{dailycheck.tag}}
                .header
                  %strong.primary-font {{dailycheck.name}}
                  %small.pull-right.text-muted
                    %span.fa.fa-clock-o.fa-lg
                    {{dailycheck.formated_entered_at}}
                    
        .panel-footer
          .sky-form
            .row
            -# %section.col.col-24
            -#     %label.radio-inline
            -#       %input{:name => "sos", :type => "radio", :ng_model => "d.sos", :value => "Patient"}
            -#       %span Patient
            -#   %section.col.col-12
            -#     %label.radio-inline
            -#       %input{:name => "sos", :type => "radio", :ng_model => "d.sos", :value => "Caregiver"}
            -#       %span Caregiver
            -# .row{:ng_show => "d.sos == 'Patient'"}
            -#   %section.col.col-12
            -#     %label.input
            -#       = autocomplete_field_tag :first_name, '', auto_search_autocomplete_patient_names_path, :placeholder =>"Search Patient Name",:ng_model => "patient_id", :class => 'form-control', :id_element => "#id"
            -#       = hidden_field_tag :id, :id => "#{@id}"
            -#   %section.col.col-12
            -#     = link_to "View History", "#", :ng_click => "loadDailychecks('Patient')", :class => "button"
            -# .row{:ng_show => "d.sos == 'Caregiver'"}
            -#   %section.col.col-12
            -#     %label.input
            -#       = autocomplete_field_tag :first_name, '', auto_search_autocomplete_caregiver_master_names_path, :placeholder =>"Search Caregiver Name",:ng_model => "caregiver_id", :class => 'form-control', :id_element => "#id"
            -#       = hidden_field_tag :id, :id => "#{@id}"
            -#   %section.col.col-12
            -#     = link_to "View History", "#", :ng_click => "loadDailychecks('Caregiver')", :class => "button"
            %section
              %label.textarea
                %textarea{:placeholder => "Type your message here...", :type => "text", :ng_model => "dailycheck.description", :rows => 6}
                %span{:ng_show => "dailycheck.tag"}
                  %h4 {{dailycheck.tag}}
            .row          
              %section
               
                .col-md-24
                  .col-md-1
                    %label.text
                      Status: 
                  .col-md-12
                    %label.select
                      %select{:ng_model => "tag", :ng_options => "check.value as check.key for check in check_tags"}
                      %i
                  .col-md-24
                    .col-md-2
                      %br
                    .col-md-10
                      .pull-right
                        %br
                        = link_to "Add Status", "#", :ng_click => "addTag()", :class => "button"
                    .col-md-6
            .row
              %footer
                .pull-left
                  %button.button{:ng_click => "makeTicket()"} Make Ticket
                .pull-right
                  %button.button{:ng_click => "save()"} Save
  = render "add_new_modal"

