- if(!@check_id.present?)
  %h3
    %center
      #{@rolee}s
  .col-md-24{:ng_controller => "DailycheckController", :ng_init => "loadDailychecks('#{@rolee}')"}
    #{@rolee}
    .row
      .col-md-24
        %table.table.table-list
          %thead
            %th Name
            %th Gender
            %th DOB
            %th Mobile
            %th Contacted on
            %th Action
          %tbody
            %tr{:ng_repeat => "dailycheck in dailychecks"}
              %td {{dailycheck.name}}
              %td {{dailycheck.gender}}
              %td {{dailycheck.dob}}
              %td {{dailycheck.mobile}}
              %td {{dailycheck.date}}            
              %td
                %a{:href => "/daily_checks?role=#{@rolee}&check_id={{dailycheck.id}}",:class => "fa fa-comments fa-lg", :title => "Conversation"}
              -#   = link_to "Edit", "#", :ng_click => "edit(patient_routine)", :ng_hide => "patient_routine.edit"
              -#   = link_to "Update", "#", :ng_click => "update(patient_routine)", :ng_show => "patient_routine.edit"
              -#   = link_to "delete", "#", :ng_click => "destroy(patient_routine)", :ng_hide => "patient_routine.edit"  
- else
  = render "conversation"
