%h3
  = link_to "Invoice Jobs", job_runs_path
  %hr
%table.table.table-list
  %thead
    %tr
      %th Job Run Id
      %th Job
      %th Started On
      %th Finished On
      %th Status

  %tbody
    = render @job_runs

-#= will_paginate @job_runs, previous_label: h("<"), next_label: h(">")
