.row
  %center
    %h3  Roles

    .pull-right
      .col-md-10


    .col-md-2.col-md-offset-10
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "MenuMappings()", :value => "New", :style =>"color:#000"}

.row
  :css
    table, th, td,tr
      {
      border-collapse:collapse;
      border:3px solid #A8A8A1;
      }
      th, td
      {
      padding:5px;
      }
  %br
  .row
    .col-md-24
      %table.table.table-condensed.table.condensed.table-hovered.table-striped
        %tr
          %th Role
          %th Menus
          %th
        
        %tr{"ng-repeat" => "role in roles "}
          %td {{role.name}} 
          %td
            .col-md-6{"ng-repeat" => "map in role_menus |filter :  {role_id: role.id} : true| filter: {parent_id: 0} :true"}        
              %b
                %u
                  {{map.menu_name}}        
                  
                .col-md-24{"ng-repeat" => "map1 in role_menus |filter :  {role_id: role.id} : true| filter: {parent_id: map.menu_id} :true"}        
                  %i
                    
                    {{map1.menu_name}}

                    .col-md-24{"ng-repeat" => "map2 in role_menus |filter :  {role_id: role.id} : true| filter: {parent_id: map1.menu_id} :true "}        
                      %p
                        
                        {{map2.menu_name}}
          %td{:style => "width:10%"}

            .col-md-32

            %input{:type => "button", :class => "btn btn-primary", "ng-click" => "editMenuMappings(role.id)", :value => "Edit", :style =>"float:none; color:#000"}
            %br
            %br
            %input{:type => "button", :confirmed_click=> "deleteRole(role)", :ng_confirm_click =>"Are you sure?", :class => "btn btn-danger", :value => "Delete"}

