.container
  .content_fullwidth
    .login_form{:style =>"margin-top: 76px;"}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "sky-form"}) do |f| 
        = render :partial => "shared/error_messages", :locals => {:object => f.object}
        %section
          .row
            %label.label.col.col-4 Current Password
            .col.col-8
              %label.input
                = f.password_field :current_password
        %section
          .row
            %label.label.col.col-4 Password
            .col.col-8
              %label.input
                = f.password_field :password, :autocomplete => "off"
        %section
          .row
            %label.label.col.col-4 Password Confirmation
            .col.col-8
              %label.input
                = f.password_field :password_confirmation

        %footer
          .loginbttn
            = f.submit "Update Password"
