.row
  .col-md-6
  .col-md-18
    %h2{:align =>"center"}
      User Creation
    .row
      .col-md-4
        %b Email
      .col-md-6
        = text_field_tag :Email , nil , :class => 'form-control' , :ng_model => 'user.email'
    %br
    .row
      .col-md-4
        %hb Name
      .col-md-6
        = text_field_tag :user_name , nil , :class => 'form-control' , :ng_model => 'user.user_name'
    %br
    .row
      .col-md-4
        %b Role
      .col-md-6
        = select_tag :role_id, options_from_collection_for_select(Role.all, :id, :name) ,:include_blank=> "Select" , :ng_model => "user.role",  :class => 'form-control'
    %br
    .row
      .col-md-8
        .pull-right
          = link_to "Save" , '#' , :class => 'btn btn-primary' , :ng_click => 'save(user)'
