!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Hai  #{@raised_by}
    %p #{@template}
    Category: #{@category}
    Date: #{@date}.
      
    %p Thanks and have a great day!
