!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p #{@template[0][:text1]}
    %p
      Name: #{@raised_by}
      %br
      Role: #{@role}
      %br
      Category: #{@category}
      %br
      Date: #{@date}.
      %br
    %p Thanks and have a great day!
