!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Life Circle, #{@user.user_name}
    %p
      You have successfully signed up to www.lifecircle.in
      %br
      User Name is: #{@user.user_name}.
      password is: #{@password}.
      %br
    %p
      
    %p Thanks for joining and have a great day!
    
