.col-md-24{:ng_controller => "PatientActivityController", :ng_init => "loadPatientRoutines(#{@enrollment.id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
  %br
  %button.button{:type => "button", :ng_hide => "patient_routine.isNew", :ng_click => "newPatientRoutine()"} Add New
  //= link_to "Add new", "#",:ng_hide => "patient_routine.isNew", :ng_click => "newPatientRoutine()"    
  .col-md-24{:ng_show => "patient_routine.isNew"}
    %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
      .col-md-24
        .col-md-24
          %header New Patient Routine
          .col-md-24
            .row
              .col-md-4
                %label.input
                  %input{:type => "text", :size => "5", :ng_model => "patient_routine.time",:placeholder =>"Time", :onFocus => 'getTimepicker(this)'}
              .col-md-4
                %label.select
                  %select{:ng_model => "patient_routine.routine_master_id", :placeholder =>"Select", :ng_options => "option.id as option.name for option in routine_masters"}
                    %option{:value => ""} -- choose Routine --
                  %i
              .col-md-2
                %button.button{:type => "submit"} Add
              .col-md-3 
                
                %button.button{:type => "button", :ng_click => "close()"} Close
                //= link_to "Close", "#", :ng_click => "close()"
          

          
      -# %span New Sub Service
      -# //= select_tag :routine_master_id, options_from_collection_for_select(RoutineMaster.all, :id, :name ), { :include_blank => true, :class => 'form-control'}
      -# = link_to "save", "#", :ng_click => "save()"
      -# = link_to "Close", "#", :ng_click => "close()"
 
  .col-md-18
    %br
    %br
    %table.table.table-list
      %thead
        %th Time
        %th Activity
        %th Action
      %tbody
        %tr{"ng-repeat" => "patient_routine in patient_routines"}
          %td
            %sapn{:ng_hide => "patient_routine.edit"}= "{{patient_routine.time}}"
            %input{:type => "text", :ng_model => "patient_routine.time", :ng_show => "patient_routine.edit", :onFocus => 'getTimepicker(this)'}
          %td
            %sapn{:ng_hide => "patient_routine.edit"}= "{{patient_routine.routine_name}}"
            %select{:ng_model => "patient_routine.routine_master_id",:ng_show => "patient_routine.edit", :ng_options => "option.id as option.name for option in routine_masters"}
          %td
            = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "edit(patient_routine)", :ng_hide => "patient_routine.edit", :title => "Edit"
            = link_to raw("<i class='fa fa-floppy-o fa-lg'></i>"), "#", :ng_click => "update(patient_routine)", :ng_show => "patient_routine.edit", :title => "Update"
            = link_to raw("<i class='fa fa-times-circle fa-lg'></i>"), "#", :ng_click => "closeupdate(patient_routine)", :ng_show => "patient_routine.edit", :title => "Cancel"
            = link_to raw("<i class='fa fa-trash fa-lg'></i>"), "#", :ng_click => "destroy(patient_routine)", :ng_hide => "patient_routine.edit", :title => "Delete"
  .row
    %br
    %br
