.row{:ng_controller => 'PatientAdaptiveEquipmentsController',  :ng_init => "loadAdaptiveEquipments(#{@enrollment.id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Error! 
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Saved Successfully!
  %fieldset
    %form#sky-form.sky-form{:name=>"patientAdaptiveEquipmentForm", :ng_submit => "save()", :novalidate => ""}
      .col-md-5{:ng_repeat => "equipment in equipments"}
        
          
        %label.checkboxinline
          %input{:type => "checkbox", :name => "equipment_{{$index}}", :ng_model => "equipment.assigned"}
            
          
          %y{:style =>"font-size:12px; font-weight:215"}
            {{equipment.adaptive_name}}
      .col-md-24
        .pull-right
          %button.button{:type => "submit", :style => 'margin-right: 36px'} Save  

          
