.col-md-24{:ng_controller => 'PatientabilitiesController',  :ng_init => "loadselfcares(#{@enrollment.id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
  %br
  %button.button{:type => "button", :ng_hide => "patient_ability.isNew", :ng_click => "newPatientabilities()"} Add New
  //= link_to "Add new", "#",:ng_hide => "patient_ability.isNew", :ng_click => "newPatientRoutine()"    
  .col-md-24{:ng_show => "patient_ability.isNew"}
    %form#sky-form.sky-form{:name=>"patientabilitiesform", :ng_submit => "save()", :novalidate => ""}
      .col-md-24
        .col-md-24
          %header New Patient Routine
          .col-md-24
            .row
              .col-md-3
                %label.select
                  %select{:ng_model => "patient_ability.patient_selfcare_ability_master_id", :ng_options => "option.id as option.selfcare_ability for option in selfcare_masters"}
                    %option{:value => ""} -- choose Abilities --
                  %i
              .col-md-5             
               
                Independent:
                &nbsp;
                &ensp;
                  
                %input{:name => "independent", :type => "radio", :ng_model => "patient_ability.independent", :ng_value => "true"} Yes
                &nbsp;
                &ensp;
                
                %input{:name => "independent", :type => "radio", :ng_model => "patient_ability.independent", :value => "false"} No       
              .col-md-4
            
           
                %label.textarea
                  %textarea{:type => "text", :ng_model => "patient_ability.description", :rows => '1'}
            
              .col-md-5
                .pull-right
                  %button.button{:type => "submit"} Add
                  &nbsp;
                  &nbsp;
                  %button.button{:type => "button", :ng_click => "patient_ability.isNew = false"} Close
                  //= link_to "Close", "#", :ng_click => "close()"
          

          
      -# %span New Sub Service
      -# //= select_tag :routine_master_id, options_from_collection_for_select(RoutineMaster.all, :id, :name ), { :include_blank => true, :class => 'form-control'}
      -# = link_to "save", "#", :ng_click => "save()"
      -# = link_to "Close", "#", :ng_click => "close()"

  .col-md-22
    %br
    %table.table.table-list.sky-form
      %tr
        %th Ability
        %th Independent
        %th Description
        %th Action
      %tr{"ng-repeat" => "ability in patient_abilities"}
        %td {{ability.ability_name}}
        %td
          %sapn{:ng_hide => "ability.edit"}= "{{ability.independent === true ? 'Yes' : 'No'}}"
          %input{:name => "independent{{$index}}", :type => "radio", :ng_model => "ability.independent", "ng-value" => "true", :ng_show => "ability.edit"}
          %span{:ng_show => "ability.edit"}Independent
          %br
          %input{:name => "independent{{$index}}", :type => "radio", :ng_model => "ability.independent", "ng-value" => "false", :ng_show => "ability.edit"}
          %span{:ng_show => "ability.edit"}Unable
        %td
          %sapn{:ng_hide => "ability.edit"}= "{{ability.description}}"
          %textarea{:type => "text", :ng_model => "ability.description", :ng_show => "ability.edit", :columns => '14', :rows => '2', :style => "margin-bottom: -27px;"}
        %td
          = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "ability.edit = true", :ng_hide => "ability.edit", :title => "Edit"
          = link_to raw("<i class='fa fa-floppy-o fa-lg'></i>"), "#", :ng_click => "update(ability)", :ng_show => "ability.edit && ability.id", :title => "Update"
          = link_to raw("<i class='fa fa-times-circle fa-lg'></i>"), "#", :ng_click => "ability.edit = false", :ng_show => "ability.edit && ability.id", :title => "Cancel"
           
           
            
