.row{:ng_controller => "RequestedservicesController", :ng_init => "loadServices(#{@enrollment_id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Error! Did not match Caregiver Services {{not_saved}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Saved Successfully!
  %fieldset
    .col-md-24
      .col-md-5{:ng_repeat => "service in services"}
        
          
        %label.checkboxinline
          %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
            
          
        %x{:style =>"font-weight:220; font-size:12px"}
          {{service.service_name}}
    .col-md-24
      .pull-right
        %a{:href => "#", :ng_click => "save()", :style => 'margin-right: 36px', :class => "button"} Save





  -# .col-md-2
  -# .col-md-10
  -#   %form#sky-form.sky-form{:name=>"patientAdaptiveEquipmentForm", :ng_submit => "save()", :novalidate => ""}
  -#     .row
  -#       %div{:ng_repeat => "service in enquiry.services"}
  -#         .col-md-4
  -#           %section
  -#             %label.checkboxinline
  -#               %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
  -#               &nbsp;
  -#               {{service.service}}
  -#     .row
  -#       %footer
  -#         %button.button{:type => "submit"} Save
