.row{:ng_controller => "PatientDisabilitiesController", :ng_init => "loadDisabilities(#{@enrollment_id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Error! 
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span Saved Successfully!
  %fieldset
    .col-md-24
      .col-md-5{:ng_repeat => "disability in disabilities"}
        
          
        %label.checkboxinline
          %input{:type => "checkbox", :name => "disability_{{$index}}", :ng_model => "disability.assigned"}
        
        %x{:style =>"font-size:12px; font-weight:220"}
              
          {{disability.disability_name}}
    .col-md-12
      .pull-right
        %a{:href => "#", :ng_click => "save()", :style => 'margin-right: 36px', :class => "button"} Save
