#time-of-admin-pop-up.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4 
          Time of Administration 
        %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
          %span{"area-hidden" => "true"} 
            %times
      .modal-body
        
        .row{:ng_controller => "DrugQuantityController", :ng_init => "loadTimeofadmins(18)"}
          = link_to "Add new", "#", :ng_click => "newTimeofadmin()", :class => 'btn btn-primary'
          .row{:ng_show => "timeofadmin.isNew"}
            %span New Timeofadmin
            .sky-form
              %form{:class => "sky-form"}
                = hidden_field_tag :drug_quantity_master_id, "", :id => "drug_quantity_master_id"
                %input{"ng-model" => "timeofadmin.time", :onFocus => "getTimepicker(this)", :placeholder => "Time", :type => "text"}/
                = link_to "save", "#", :ng_click => "savetime()", :class => 'btn btn-primary'
         
            {{timeofadmins}}
            {{drug_quantity_master_id}}
          %table.table-list
            %thead
              %th Drug
              %th Time
              %th Action
            %tbody
              %tr{"ng-repeat" => "timeofadmin in timeofadmins"}
                %td
                  %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.drug_name}}"
                  %input{:type => "text", :ng_model => "timeofadmin.drug_name", :ng_show => "timeofadmin.edit"}
                %td
                  %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.time}}"
                  %input{:type => "text", :ng_model => "timeofadmin.time", :ng_show => "timeofadmin.edit"}
                %td
                  = link_to "Edit", "#", :ng_click => "edittime(timeofadmin)", :ng_hide => "timeofadmin.edit"
                  = link_to "Update", "#", :ng_click => "updatetime(timeofadmin)", :ng_show => "timeofadmin.edit"
                  = link_to "Delete", "#", :ng_click => "destroytime(timeofadmin)"
          
          
              
           
