%script{:type => "text/ng-template", :id => "time_admin_form"}
  %ng-form{:name => "TimeAdminForm"}
    .row{:ng_repeat => "slot in drugquantitymaster.slots"}
      %section.col.col-3
        %label.input
          %input{"ng-model" => "slot.time1", :onFocus => "getTimepicker(this)", :placeholder => "Time1", :type => "text"}/
      %section.col.col-3
        %label.input
          %input{"ng-model" => "slot.time2", :onFocus => "getTimepicker(this)", :placeholder => "Time2", :type => "text"}/
      %section.col.col-3
        %label.input
          %input{"ng-model" => "slot.time3", :onFocus => "getTimepicker(this)", :placeholder => "Time3", :type => "text"}/
      %section.col.col1{"ng-show" => "$index > 0"}
        %a{:href => "#", "ng-click" => "removeTimeSlot($index)", :title => "close"}
          %i.fa.fa-close.fa-lg
    .row
      .pull-right
        %a.button{:href => "#", "ng-click" => "addMoreSlot()"} add More
