!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title Life Circle
    = wicked_pdf_stylesheet_link_tag('/css/pdf')
    = wicked_pdf_stylesheet_link_tag('/css/style')
  %body
    .container
      %center
        %table{:width => "800"}
          %tr
            %td
              .pull-left
                = wicked_pdf_image_tag 'logo_pdf.jpg', :alt => "Logo", :style => "height:50%; width:50%"
                //%img{:alt => "Logo", :src => "image001.jpg", :style => "height:50%; width:50%"}/
              .pull-right
                %div{:style => "margin-right:10px;margin-top:25px"}
                  %h3 Patient Care Plan
      %center
        %br
          %div{:style => "width:800px;"}
            %p{:align => "left"}
              %big
                %strong Patient Personal Details
            %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
              %tbody
                %tr
                  %td
                    %p
                      Name
                  %td &nbsp;
                  %td{:style => " padding:2px"}
                    %p
                      Age
                  %td{:style => " padding:2px"}
                    %p
                      Sex
                  %td{:width => "50"}
                    %p
                      M/F
                %tr
                  %td
                    %p
                      Address
                  %td{:colspan => "3", :width => "387"}
                  %td{:colspan => "3", :width => "145"}
                    %p
                      \#
                %tr
                  %td
                    %p
                      Next of Kin 1
                  %td{:width => "227"}
                    %p
                      \#
                  %td{:colspan => "2", :width => "161"}
                    %p
                      Relation
                  %td{:colspan => "3", :width => "145"}
                    %p
                      \#
            %br
              %p{:align => "left"}
                %big
                  %strong Patients condition and illness
                  -# .col-md-12
                  -#   .col-md-3
                  -#   - @patient_disabilities.each.with_index do |p,index|
                  -#     .col-md-2
                  -#       %input{:type => "checkbox", :name => "disability_[index]", :checked => "#{p.assigned}}
                  -#       &nbsp;
                  -#     .col-md-10
                  -#       = p.assigned
              %table.table-responsive{:border => "1", :width => "800"}
                %tbody
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Arthritis
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Feeding through NG tube
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Post-Operative
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Balance Problem/Falls risk
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Foot ulcer/problem
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Pressure Ulcers
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Bed ridden
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Fracture
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Persistent Pain
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Blind/Visually challenged
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Functional decline (getting on and off bed)
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Paralysed
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Cancer
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Hearing defect
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Stroke
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Coronary Artery Disease
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Hypertensive
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Under Dialysis
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Colostomy
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Incontinence faecal
                    %td
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp; Urinary Catheter
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;COPD/Asthma
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Incontinence Urinary
                    %td
                      %p
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Comatose
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Insomnia
                    %td
                      %p
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Dementia
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Nutritional IV feeding
                    %td
                      %p
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Depression
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Osteoarthritis (OA)
                    %td
                      %p
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Diabetes
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Osteoporosis (OP)
                    %td
                      %p
                  %tr
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Fainting (Syncope)
                    %td{:style => " padding:2px"}
                      %p
                        %input{:type => "checkbox"}
                          \&nbsp;Parkinsons (movement disorder)
                    %td{:style => " padding:2px"}
                      %p
                  %tr
                    %td
                      %p
                        Notes :
              %br
                %br
                  %table.table-responsive{:border => "1", :style => "border-bottom:none", :width => "800"}
                    %tr
                      %td
                        %p
                          Blood Group:
                      %td &nbsp;Blood group here
                      %td
                        %p
                          Allergy (if any):
                      %td
                        \&nbsp;Yes (or) No
                  %table.table-responsive{:border => "1", :style => "border-top:none", :width => "800"}
                    %tbody
                      %tr
                        %td
                          %p
                            Any Infectious disease
                        %td
                          %p
                            \&nbsp;HIV
                        %td
                          %p
                            \&nbsp;HBV
                        %td
                          %p
                            \&nbsp;HCV
                        %td
                          %p
                            \&nbsp;TB
                        %td
                          %p
                            \&nbsp;Other [ ]
                        %td
                          %p
                            \&nbsp;None
                  %br
                    %p{:align => "left"}
                      %big
                        %strong Patient self care ability and need
                    %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                      %tbody
                        %tr
                          %td{:width => "104"}
                            %p
                              %strong
                          %td{:width => "104"}
                            %p
                              %strong Independent (Tick)
                          %td{:width => "302"}
                            %p
                              %strong With Assistance (Describe)
                          %td{:width => "81"}
                            %p
                              %strong Unable (Tick)
                        %tr
                          %td{:width => "104"}
                            %p
                              Bathing
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Dressing
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Grooming
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Eating
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Walking/Mobility
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Toileting
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                        %tr
                          %td{:width => "104"}
                            %p
                              Medications
                          %td{:width => "104"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                          %td{:width => "302"}
                          %td{:width => "81"}
                            %p{:align => "center"}
                              %input{:type => "checkbox"}
                    %br
                      %p{:align => "left"}
                        %big
                          %strong Patient care &amp; assistance
                      %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                        %tbody
                          %tr
                            %td{:width => "141"}
                              %p
                                Assisted feeding
                            %td{:width => "153"}
                              %p
                                Injection
                            %td{:width => "161"}
                              %p
                                Oxygen administration
                            %td{:width => "161"}
                              %p
                                Vitals checking
                          %tr
                            %td{:width => "141"}
                              %p
                                Bed bath/Sponge bath
                            %td{:width => "153"}
                              %p
                                Insulin administration
                            %td{:width => "161"}
                              %p
                                Patient lifting
                            %td{:width => "161"}
                              %p
                                Walking assistance
                          %tr
                            %td{:width => "141"}
                              %p
                                Blood sugar check
                            %td{:width => "153"}
                              %p
                                IV cannula care
                            %td{:width => "161"}
                              %p
                                Pressure ulcer care
                            %td{:width => "161"}
                              %p
                                Wound dressings
                          %tr
                            %td{:width => "141"}
                              %p
                                Colostomy care
                            %td{:width => "153"}
                              %p
                                Medication
                            %td{:width => "161"}
                              %p
                                Perineal care
                            %td{:width => "161"}
                              %p
                          %tr
                            %td{:width => "141"}
                              %p
                                Dialysis care
                            %td{:width => "153"}
                              %p
                                Massage
                            %td{:width => "161"}
                              %p
                                Suctioning
                            %td{:width => "161"}
                              %p
                          %tr
                            %td{:width => "141"}
                              %p
                                Eye care
                            %td{:width => "153"}
                              %p
                                NG feeding
                            %td{:width => "161"}
                              %p
                                Tracheostomy care
                            %td{:width => "161"}
                              %p
                          %tr
                            %td{:width => "141"}
                              %p
                                Falls prevention
                            %td{:width => "153"}
                              %p
                                Oral care/Dental care
                            %td{:width => "161"}
                              %p
                                Urinary Catheter care
                            %td{:width => "161"}
                              %p
                          %tr
                            %td{:colspan => "4", :width => "616"}
                              %p
                                Notes :
                      %p{:align => "left"}
                        %big
                          %strong Adaptive Devices/Equipment used by Patient
                      %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                        %tbody
                          %tr
                            %td{:width => "212"}
                              %p
                                Glasses
                            %td
                              %p
                                Arm Brace Left Right
                            %td
                              %p
                                Cane Straight Pronged
                          %tr
                            %td{:width => "212"}
                              %p
                                Hearing Aid Left Right
                            %td
                              %p
                                Leg Brace Left Right
                            %td
                              %p
                                Walker w/ or w/o wheels
                          %tr
                            %td{:width => "212"}
                              %p
                                False Teeth/Bridge Partial Upper Lower
                            %td
                              %p
                                Orthodic Inserts Shoes
                            %td
                              %p
                                Wheelchair
                      %br
                        %br
                          %p
                            %big
                              %strong Care to be provided
                          %p{:align => "left"}
                            %big
                              %strong Patient Routine
                          %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                            %tbody
                              %tr
                                %td{:width => "75"}
                                %td{:width => "78"}
                                  %p
                                    Wakes up at
                                %td{:width => "78"}
                                  %p
                                    Breakfast
                                %td{:width => "89"}
                                  %p
                                    Pre Lunch Snack
                                %td{:width => "67"}
                                  %p
                                    Lunch
                                %td{:width => "78"}
                                  %p
                                    Evening Tea
                                %td{:width => "78"}
                                  %p
                                    Dinner
                                %td{:width => "78"}
                                  %p
                                    Bed time
                              %tr
                                %td{:width => "75"}
                                  %p
                                    Time
                                %td{:width => "78"}
                                  \&nbsp;
                                %td{:width => "78"}
                                  \&nbsp;
                                %td{:width => "89"}
                                  \&nbsp;
                                %td{:width => "67"}
                                  \&nbsp;
                                %td{:width => "78"}
                                  \&nbsp;
                                %td{:width => "78"}
                                  \&nbsp;
                                %td{:width => "78"}
                                  \&nbsp;
                          %br
                            %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                              %tbody
                                %tr
                                  %td
                                    %p
                                      %strong Time
                                  %td{:width => "543"}
                                    %p
                                      %strong Service(s) to be provided
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                                %tr
                                  %td
                                    \&nbsp;
                                  %td{:width => "543"}
                                    \&nbsp;
                            %br
                              %p{:align => "left"}
                                %big
                                  %strong Drugs Management
                              %table.table-responsive{:border => "1", :width => "800"}
                                %thead
                                  %tr
                                    %td{:width => "28"}
                                      %p
                                        %strong Sn.
                                    %td{:width => "255"}
                                      %p
                                        %strong Name of Medicine
                                    %td
                                      %p
                                        %strong Dose
                                    %td{:width => "57"}
                                      %p
                                        %strong Route
                                    %td{:width => "114"}
                                      %p
                                        %strong Timings
                                    %td{:width => "84"}
                                      %p
                                        %strong Notes
                                %tbody
                                  %tr
                                    %td{:width => "28"}
                                      \&nbsp;
                                    %td{:width => "255"}
                                      \&nbsp;
                                    %td
                                      \&nbsp;
                                    %td{:width => "57"}
                                      \&nbsp;
                                    %td{:width => "114"}
                                      \&nbsp;
                                    %td{:width => "84"}
                                      \&nbsp;
                                  %tr
                                    %td{:width => "28"}
                                      \&nbsp;
                                    %td{:width => "255"}
                                      \&nbsp;
                                    %td
                                      \&nbsp;
                                    %td{:width => "57"}
                                      \&nbsp;
                                    %td{:width => "114"}
                                      \&nbsp;
                                    %td{:width => "84"}
                                      \&nbsp;
                                  %tr
                                    %td{:width => "28"}
                                      \&nbsp;
                                    %td{:width => "255"}
                                      \&nbsp;
                                    %td
                                      \&nbsp;
                                    %td{:width => "57"}
                                      \&nbsp;
                                    %td{:width => "114"}
                                      \&nbsp;
                                    %td{:width => "84"}
                                      \&nbsp;
                              %p
                                %big
                                  %strong VITALS TRACKED
                              %p{:align => "left"}
                                %strong Vitals trend
                              %p{:align => "left"}
                                %big
                                  %strong Blood Pressure
                              %table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                                %tbody
                                  %tr
                                    %td{:width => "130"}
                                      %p
                                        Date
                                    %td{:width => "87"}
                                      %p
                                        %strong Systolic
                                    %td{:width => "105"}
                                      %p
                                        %strong Diastolic
                                    %td{:width => "105"}
                                      %p
                                        %strong Acceptable Range
                                    %td{:width => "87"}
                                      %p
                                        %strong Alert
                                  %tr
                                    %td{:width => "130"}
                                      \&nbsp;
                                    %td{:width => "87"}
                                      \&nbsp;
                                    %td{:width => "105"}
                                      \&nbsp;
                                    %td{:width => "105"}
                                      \&nbsp;
                                    %td{:width => "87"}
                                      \&nbsp;
                              %br
                                %p{:align => "left"}
                                  %big
                                    %strong Temperature
                                %table.table-responsive{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                                  %tbody
                                    %tr
                                      %td{:width => "130"}
                                        %p
                                          Date
                                      %td{:width => "87"}
                                        %p
                                          %strong Value
                                      %td{:width => "105"}
                                        %p
                                          %strong Acceptable Value
                                      %td{:width => "87"}
                                        %p
                                          %strong Alert
                                    %tr
                                      %td{:width => "130"}
                                        \&nbsp;
                                      %td{:width => "87"}
                                        \&nbsp;
                                      %td{:width => "105"}
                                        \&nbsp;
                                      %td{:width => "87"}
                                        \&nbsp;
                                %br
                                  %p
                                    %strong [Other vitals to be reported as per the above format]
                                  %br
                                    %p{:align => "left"}
                                      %big
                                        %strong Professional Caregiver/Nurse Posting Log
                                    %table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                                      %thead
                                        %tr
                                          %td
                                            %p
                                              %strong Sn.
                                          %td
                                            %p
                                              %strong Name of the Professional Caregiver
                                          %td
                                            %p
                                              %strong Live in/out
                                          %td
                                            %p
                                              %strong From time
                                          %td
                                            %p
                                              %strong To time
                                          %td
                                            %p
                                              %strong Start Date
                                          %td
                                            %p
                                              %strong End Date
                                      %tbody
                                        %tr
                                          %td
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                        %tr
                                          %td
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                        %tr
                                          %td
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                          %td
                                            \&nbsp;
                                    %br
                                      %br
