.container
  .content_fullwidth
    .login_form{:style =>"margin-top: 76px;"}
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "sky-form" }) do |f|
        %header{:style =>"box-shadow:none; background-color: rgb(249, 249, 249);"} Forgot your password?
        = render :partial => "shared/error_messages", :locals => {:object => f.object}
        %section
          .row
            %label.label.col.col-4 Email
            .col.col-8
              %label.input
                = f.email_field :email, autofocus: true
        %footer
          .loginbttn
            = f.submit "Send me reset password instructions"
        

