%table.table.table-list
  %thead
    %tr
      %th Invoice No
      %th Amount paid
      %th Payment mode
      %th Description 1
      %th Description 2
      %th Payment done by
      %th Payment date
      %th Status

  %tbody
    - payment_bills.each do |payment_bill|
      %tr
        %td= payment_bill.payment_master.invoice_no
        %td= payment_bill.amount_paid
        %td= payment_bill.payment_mode
        %td= payment_bill.description_1
        %td= payment_bill.description_2
        %td= payment_bill.payment_done_by
        %td= payment_bill.payment_date
        %td= payment_bill.status
