%p#notice= notice

%p
  %b Payment master:
  = @payment_bill.payment_master_id
%p
  %b Amount paid:
  = @payment_bill.amount_paid
%p
  %b Payment mode:
  = @payment_bill.payment_mode
%p
  %b Description 1:
  = @payment_bill.description_1
%p
  %b Description 2:
  = @payment_bill.description_2
%p
  %b Payment done by:
  = @payment_bill.payment_done_by
%p
  %b Payment date:
  = @payment_bill.payment_date
%p
  %b Status:
  = @payment_bill.status

= link_to 'Edit', edit_payment_bill_path(@payment_bill)
\|
= link_to 'Back', payment_bills_path
