%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
.copyright_info{:style => "background-color:#111"}
  .container
    .one_half
      = "Copyright @ #{Date.today.year} . All rights reserved."
      %a{:href => "#"} Terms of Use
      |
      %a{:href => "#"} Privacy Policy
    .one_half.last
      %ul.footer_social_links
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook
        %li
          %a{:href => "#"}
            %i.fa.fa-twitter
/ end copyright info
%a.scrollup{:href => "#"} Scroll
/ end scroll to top of the page
