%header#header
  / Top header bar
  / end top navigation
  #topheader{:style => "background-color: rgb(38, 106, 46);"}
    .container{:style => "padding-bottom:8px; padding-top:8px"}
      
      
      - if current_user.present?
        
        %a{:href => "/enquiries/new_appointment_for_enquiry" , :style =>"color:#FFF; margin-left:76%"} 
          %i.fa.fa-question
          &nbsp;help
        %a{:href => "#{destroy_user_session_path}",  :style => "color:#FFF; padding:5px", :data => {:method => "DELETE"}}
          %i.fa.fa-lock
          &nbsp;Logout           
        %a{:href =>  "#{edit_user_registration_path}" ,:style => "color:#FFF; padding:5px"}
          Change Passowrd
      - else
        %a{:href => "#{new_user_session_path}",  :style => "margin-left:10px; color:#FFF; padding:5px"}
          = image_tag "lg.png", :style => "height:15px; width:15px"
          &nbsp;Login

              
