- if current_user.present?
  .container{:style => "background-color:#C3DCC6"}
    .menu_main
      %nav.navbar.navbar-default.fhmm{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#defaultmenu", "data-toggle" => "collapse", :type => "button"}
            Menu
            %i.fa.fa-bars.tbars
        #defaultmenu.navbar-collapse.collapse
          %ul.nav.navbar-nav{:style => "padding-right:40px"}
            - @role = RoleMenuMapping.where(:role_id => current_user.role_id)
            - @role.each do |x|
              -  @menu = MenuBar.where(:id => x.menu_bar_id)
              %li.dropdown
                = link_to raw("Enquiry Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
              - if @menu[0][:parent_id] == 1
                - if @menu[0][:parent_id] != 0 and   @menu[0][:mark_as_parent] == 'NO'
                  %li
                    %a{:href => "#{@menu[0][:url]}"} #{@menu[0][:name]}
                    - if @menu[0][:parent_id] != 0 and   @menu[0][:mark_as_parent] == 'YES'
                      %li.dropdown-submenu
                        %a{:href => "#"}  #{@menu[0][:name]}
                        %ul.dropdown-menu
                          %li
                            %a{:href => "#{@menu[0][:url]}"} #{@menu[0][:name]}
          
       
        
            -# %li.dropdown{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
            -#   = link_to raw("Enquiry Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            -#   %ul.dropdown-menu
            -#     %li
            -#       %a{:href => "/enquiries/new_appointment_for_enquiry"} Create Enquiry
            -#     %li
            -#       = link_to "Enquiries", enquiries_path(:status => nil)
            -#     %li.dropdown-submenu
            -#       %a{:href => "#"} Prospects
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to "High Potential", enquiries_path(:status => 'Potential-High')
            -#         %li
            -#           = link_to "Low Potential", enquiries_path(:status => 'Potential-Low')
            -#     %li
            -#       = link_to "Non-Prospect", enquiries_path(:status => 'Non-Prospect')
            -#     %li
            -#       = link_to "Audit", enquiries_path(:status => 'To Audit')
            -#     %li
            -#       = link_to "Closed", enquiries_path(:status => 'Closed')
            -#     %li
            -#       %a{:href => "/enquiries/new_city"} New City Request
            -# %li.dropdown{:class => "#{controller_name == 'enrollments' ? 'active': ''}"} 
            -#   = link_to raw("Patient Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            -#   %ul.dropdown-menu
            -#     %li
            -#       %a{:href => "/enrollments"} Enrolled Patients
            -#     %li
            -#       %a{:href => "/enrollments/incomplete_pcp"} Incomplete PCP
            -#     %li
            -#       %a{:href => "/enrollments/closed_form"} Closed Patients

            -# %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            -#   = link_to raw("CareGivers Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            -#   %ul.dropdown-menu
            -#     %li.dropdown-submenu
            -#       %a{:href => "/care_giver_masters"} Recruit
            -#       %ul.dropdown-menu
            -#         %li
            -#           %a{:href => "/care_giver_enquiries/new"} New Walk-in
            -#         %li
            -#           = link_to "Job Applicant List", care_giver_enquiries_path
            -#         %li
            -#           = link_to "Shortlisted List" , recruitment_care_giver_enquiries_path
            -#         %li
            -#           = link_to "Not Approved List" , care_giver_masters_path(:status => 'Documents Collected')
            -#         %li
            -#           = link_to "Hold List" , hold_care_giver_enquiries_path  
            -#         %li
            -#           = link_to "New City Request" , cg_city_request_care_giver_enquiries_path
            -#         %li
            -#           = link_to "Closed List", closed_care_giver_enquiries_path

            -#     %li.dropdown-submenu
            -#       %a{:href => "/care_giver_masters"} Update Profile
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to "Bench", care_giver_masters_path(:status => 'Active')
            -#         %li
            -#           = link_to "Leave & Return", care_giver_masters_path(:status => 'Leave')
            -#         %li
            -#           = link_to "Alloted to Patient" , care_giver_masters_path(:status => 'ACTIVE')
            -#         %li
            -#           = link_to "Closed" , care_giver_masters_path(:status => 'Resign')

            -#     %li.dropdown-submenu
            -#       %a{:href => "#"} Time & Attendance
            -#       %ul.dropdown-menu
            -#         %li
            -#           %a{:href => "/care_giver_masters/payroll"} Payroll
            -#         %li
            -#           %a{:href => "/care_giver_masters/attendance"} Attendance

            -# %li.dropdown{:class => "#{controller_name == 'Tickets' ? 'active': ''}"}
            -#   = link_to raw("Tickets <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            -#   //%a{:href => "/tickets"} Tickets
            -#   %ul.dropdown-menu
            -#     %li.dropdown-submenu
            -#       = link_to "Patient", tickets_path(:role => 'Patient',:current_tag => 'New')
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to "New Tickets", tickets_path(:role => 'Patient',:current_tag => 'New')
            -#         %li
            -#           = link_to "Open Tickets", tickets_path(:role => 'Patient',:current_tag => 'Open')
            -#         %li
            -#           = link_to "Waiting for Inputs", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Inputs')
            -#         %li
            -#           = link_to "Waiting for Closed", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Closed')
            -#         %li
            -#           = link_to "Closed Tickets", tickets_path(:role => 'Patient', :current_tag => 'Closed')
            -#     %li.dropdown-submenu
            -#       = link_to "Caregiver", tickets_path(:role => 'Caregiver',:current_tag => 'New')
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to "New Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'New')
            -#         %li
            -#           = link_to "Open Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'Open')
            -#         %li
            -#           = link_to "Waiting for Inputs", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Inputs')
            -#         %li
            -#           = link_to "Waiting for Closed", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Closed')
            -#         %li
            -#           = link_to "Closed Tickets", tickets_path(:role => 'Caregiver', :current_tag => 'Closed')
            -#     %li
            -#       = link_to "Daily Check", daily_checks_path

            -# %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            -#   = link_to raw("Masters <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            -#   %ul.dropdown-menu
            -#     %li
            -#       %a{:href => "/disability_masters"} Disabilities
            -#     %li
            -#       %a{:href => "/service_masters"} Services
            -#     %li
            -#       %a{:href => "/patient_adaptive_equipment_masters"} Adaptive Equipments
            -#     %li
            -#       %a{:href => "/patient_selfcare_ability_masters"} Selfcare Abilities            
            -#     %li
            -#       %a{:href => "/routine_masters"} Routines
            -#     %li
            -#       %a{:href => "/form_masters"} Forms
            -#     %li
            -#       %a{:href => "/route_masters"} Routes
            -#     %li
            -#       %a{:href => "/unit_masters"} Units                  
            -#     %li
            -#       %a{:href => "/drug_masters"} Drugs
            -#     %li
            -#       %a{:href => "/key_vitals_masters"} Key Vitals
            -#     %li
            -#       %a{:href => "/ticket_category_masters"} Ticket Category
            -#     %li
            -#       %a{:href => "/key_vitals_masters"} Key Vitals
            -#     %li
            -#       %a{:href => "/language_masters"} Languages


