:css
  li a{
  font-size: 16px;
  }
  ul .dropdown-menu{
  font-size:1px;
  }
  .dropdown-submenu {
  position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -45px;
  margin-left: 110px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
  display: block;
  }

  .dropdown-submenu>a:after {
     
      
      border-color: transparent;
   
     
      border-left-color: #ccc;
  }


  .dropdown-submenu.pull-left {
      float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
      //left: -100%;
      margin-left: 100px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
%nav.navbar
  .container-fluid
    .navbar-header{:style =>"padding-bottom:50px"}
      %a.navbar-brand{:href => "#"} Life Circle
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"} Home
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Page 1
          %span.caret
        %ul.dropdown-menu
          %li.dropdown-submenu
            %a{:href => "#"} Page 1-1
            %ul.dropdown-menu
              %li
                %a{:href =>"#"}Hello
              %li
                %a{:href =>"#"}Hello
          %li
            %a{:href => "#"} Page 1-2
          %li.dropdown-submenu
            %a{:href => "#"} Page 1-3
            %ul.dropdown-menu
              %li
                %a{:href =>"#"}Hello
              %li
                %a{:href =>"#"}Hello
             
      %li
        %a{:href => "#"} Page 2
      %li
        %a{:href => "#"} Page 3
