- title = (defined?(title) ? title : "" )
.page_title2
  .container
    .title
      %h1= title
    -# .pagenation
    -#   \&nbsp;
    -#   %a{:href => "index.html"} Home
    -#   %i /
    -#   %a{:href => "#"} Pages
    -#   %i /
    -#   Login Form
.clearfix
