%section.success-stories
  .container
    %h2 Testimonials
    #carousel-example.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example"}
      .carousel-inner
        .item.active
          .carousel-caption
            %p The medical attenders for patient’s bedside care are providing adequate support. They are highly co-operative and good at their work.
            %p.text-right
              %strong S. Subrahmanyam
              / Principal Architect &amp; Full Stack Developer
        .item
          .carousel-caption
            %p Life Circle team has provided very good services for last 6 months. Especially I appreciate the work done by caretaker Saraswati for the last few months. She was able to take care of the patient's daily activities (brushing, food, cleaning, etc.) very well. I am happy that I was able to get to know about Life Circle team.
            %p.text-right
              %strong Polimera Satish Babu
              / Principal Architect &amp; Full Stack Developer
        .item
          .carousel-caption
            %p Life Circle is a very good organisation. This organisation’s team members have a very good nature, are caring, trained and have a well behaviour. They are taking care of the patient very well.
            %p.text-right
              %strong Maitree Mishra
              / Principal Architect &amp; Full Stack Developer
