
#topHeader
  .wrapper
    .top_nav
      .container
        .left
          %ul
            %li
              %a{:href => "admin@lifecircle.in"}
                %i.fa.fa-envelope
                admin@lifecircle.in
            %li
              %i.fa.fa-phone-square
              +88 123 456 7890
        .right
          %ul
            - if current_user.present?
              %li.link
                %a.fancybox{:class => "fancybox.ajax", :href => "#{destroy_user_session_path}", "data-method" => "DELETE" } Logout
            - else
              %li.link
                %a.fancybox{:class => "fancybox.ajax", :href => "#{new_user_session_path}"} Login
              %li.link{:ng_controller => "EnquiryInitController"}
                %a.fancybox{:class => "fancybox.ajax", :href => "#", :ng_click => "goToEnquiry()"} Enquiry
              %li.link
                %a.fancybox{:class => "fancybox.ajax", :href => "#{enquiry_care_giver_masters_path}"} Care Giver Enquiry
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-google-plus
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
            %li
              %a{:href => "#"}
                %i.fa.fa-flickr
            %li
              %a{:href => "#"}
                %i.fa.fa-youtube
            %li
              %a{:href => "#"}
                %i.fa.fa-rss
