.features_sec17
  .container
    .clients
      .container
        %ul#mycarouselthree.jcarousel-skin-tango
          %li
            = image_tag "client-logo1.png"
          %li
            = image_tag "client-logo2.png"
          %li
            = image_tag "client-logo3.png"
          %li
            = image_tag "client-logo4.png"
          %li
            = image_tag "client-logo5.png"
          %li
            = image_tag "client-logo6.png"
          %li
            = image_tag "client-logo7.png"
          %li
            = image_tag "client-logo8.png"
          %li
            = image_tag "client-logo9.png"
/ end features section17
.clearfix
:javascript
  $('#mycarouselthree').jcarousel();
