.container_full{:style => "margin-top: auto;"}
  .tp-banner-container
    .tp-banner
      %ul
        / SLIDE 1
        %li{"data-masterspeed" => "1500", "data-slotamount" => "7", "data-transition" => "fade"}
          / MAIN IMAGE
          %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "images/1920x610.jpg"}
            .tp-caption.bigtext.sfb{"data-captionhidden" => "off", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "10", "data-start" => "1000", "data-voffset" => "-10", "data-x" => "800", "data-y" => "220", :style => "z-index: 6; background-color:rgba(2,4,6,0.4);left: 825px;padding: 30px 10px 0px;"}
              %h5{:style => "color:#fff; text-shadow:1px 1px 3px #000"}
                %b Find Professional caregivers online
                %br
                %br
                %center or
                %br
                
                Give us a missed call on 040-71011744
               
              %br
                %br
                  .tp-caption.slider_but1.sfb{:style => "margin-left:225px; margin-top:-14px"}
                    %a.fancybox{:class => "fancybox.ajax", :href => "/enquiry#/city_and_area"} Get started
                  %br
/ end slider
%marquee{:behavior => "alternate", :style => "background-color:#F3F4F4"}
  %a{:style => "font-size:18px;margin-right:40px"}
    We are proudly serving &nbsp;
    %i.fa.fa-arrow-right.fa-align-center
    - CityMaster.all.each do |x|
      %button{:style => "background-color:#2B6F32; padding:10px; padding-right:15px; padding-left:15px; color:#FFF; font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; font-size:16px; font-weight:600"} 
        = x.name 
    
