%section.careers-page
  .container
    .row{:align =>"center"}
      .col-md-12
        %h3 Careers
        .coming-soon
          Coming Soon
          %br
            %span
              Follow us on
              %strong
                %a{:href => "https://www.linkedin.com/company/life-circle-senior-services", :target => "_blank"} Linked-In 
                for more career opportunities
