:css
  body{background-color:#eee;}
  header{background:rgba(255, 255, 255, 1);}
  .faq:last-child {
      border-bottom: 0 none;
  }
  .faq .que {
      font-size: 18px; color:#165e1e; font-weight:400; padding-left:20px; padding-bottom:5px;
  }
  .faq .que:before { content:"Q. "; margin-left:-20px; font-weight:600; color:#165e1e;}
  .faq .que:after { content:"? ";}
  .faq .ans {
      line-height: 22px;
    padding-left:20px; font-size:18px;
  }
  .faq .ans:before { content:"A. "; margin-left:-20px; font-weight:600; color:#165e1e; font-size:18px;}
  .faq .ans + a {
      color: #ddd; text-align:right;
  }
  .faq .ans + a:hover {
      color: #333;
  }

%section#inner-page
  %h2 FAQ
  .container
    .row.bg-white
      .faq
        .que Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .ans Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      %hr
      .faq
        .que Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .ans Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      %br
      %hr
      .faq
        .que Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .ans Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text off the printing and typesetting industry.
      %hr

:javascript
  $('.ans').readmore({
  speed: 500,
  collapsedHeight: 70
  });
