:css
  article + [data-readmore-toggle], article[data-readmore]{display: block; width: 100%;}article[data-readmore]{transition: height 500ms;overflow: hidden;}

- if current_user.present?
- else
  .banner{:style => "margin-top:-120px"}
    .transparent-grey2
    .text
      //%script{:src => "http://code.jquery.com/jquery-latest.js", :type => "text/javascript"}
      //= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
      :javascript
        $(document).ready(function(){
        initialize();
        });
        $('p').readmore({speed: 500});
      %h1 Home nursing &amp; professional caregiving to chronically ill and bed ridden seniors
      .find-caregiver{:ng_controller => "CareGiverRequestController"}
        %form{:id => "city_and_area_form", :name => "cityAndAreaForm", :class => "sky-form", :ng_submit => "submit_city_and_area()", :style => "margin-bottom:10%"}
          %input{ :id => "autocomplete", :placeholder => "Enter your area to see if there are Professional Caregivers available...", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.address_str", :style =>"width:60%" }
          %input{:id => "place_details_object", :type => "hidden" }
          %input{:name => "", :type => "submit", :value => "Find a Caregiver"}
          %span{:style => "font-size:12px; color:#333; font-weight:500;"} *Currently available only in Hyderabad
  
    %ul#banner_slider.rslides
      %li
        = image_tag '01.png'
        //%img{:alt => "", :url => "01.png"}/
      %li
        = image_tag '02.png'
        //%img{:alt => "", :url => "02.png"}/
      %li
        = image_tag '03.jpg'
        //%img{:alt => "", :url => "03.jpg"}/

  %section#recognitions{:style => "background-color:#eee;"}
    %h2 Why Choose Life Circle
    .container
      .col-md-6
        %ul.list-icon-1.why-choose-li
          %li Web &amp; mobile platform to search, view and engage caregivers.
          %li Choose from 2 hours to 24 hours service per day.
          %li Caregivers and seniors supported by professional team of Nurse managers, Care coordinators and growing network of medical support services.
      .col-md-6
        %ul.list-icon-1.why-choose-li
          %li Profiled Caregivers are trained and verified by Life Circle.
          %li No minimum fixed contract period: You can engage Caregivers for even a day!!
          %li Caregiver's work quality and attendance monitored by Life Circle.
  %br
  %section#recognitions
    %h2{:style =>"color: #165E1E;font-weight: 400;"} Recognitions
    %br
    .container
      .row.vertical-align
        .col-md-9
          %h1{:style =>"font-size:55px"}
            %strong{:style =>"box-sizing:none"}
              More than
              %br
              one 1,50,000 hours
              %br
              of professional
              %br
              caregiving
              %br
              services
              %br
              provided till 
              %br
              date
        .col-md-15
          %blockquote
            %p{:style =>"font-size: 24px;"}
              %span.quotes “
              Top 10 Health Innovation in India 2014
              %span.quotes ”
            %footer Millenium Alliance
          %blockquote
            %p{:style =>"font-size: 20px;"}
              %span.quotes “
              Profiled and Winner of Learning Exchange Fund
              %span.quotes ”
            %footer Center of Health Market Innovation
          %blockquote
            %p{:style =>"font-size: 20px;"}
              %span.quotes “
              Winner of Learn and Launch Fund
              %span.quotes ”
            %footer Center of Health Market Innovation
          %blockquote
            %p{:style =>"font-size: 20px;"}
              %span.quotes “
              Featured on the UCLA Global Lab for Health  Innovation Exchange
              %span.quotes ”
  %section#services
    %h2 Services
   
    .container
      .table
        .table-cell.empty
        .table-cell.bg-green
          %figure
            = image_tag 'professional-caregiving.png'
          %h4 Professional Caregiving Services
          %ul
            %li Personal Care
            %li Feeding
            %li Dressing
            %li Bathing + hygiene
            %li Help moving around home
            %li Exercise program
        .table-cell.empty
        .table-cell.bg-green
          %figure
            = image_tag 'nursing-services.png'
           
          %h4 Nursing Services
          %ul
            %li Medication management
            %li Monitoring vital signs
            %li Injection & dressings
            %li Bed Sores management
        .table-cell.empty

  %section#partners
  %h2 Partners
  .container
    .row
      .col-md-5.text-center
        %figure
          %a{:href => "http://www.groupe-sos.org/en", :target => "_blank"}
            = image_tag 'groupe-sos.png'
        %article#rmjs-1{"aria-expanded" => "false", "data-readmore" => "", :style => "max-height: none; height: 70px;"}
          With its 10,000 employees and 300 structures, GROUPE SOS is one of Europe’s foremost social and societal undertakings. For 30 years now, GROUPE SOS has been putting economic efficiency at the service of the interests of the general public.
          %br
            In so doing, it provides responses to the issues of today’s society by developing innovative solutions in its five main fields of activity. The actions undertaken by GROUPE SOS influence the lives of over a million people every year.
        %a{"aria-controls" => "rmjs-1", "data-readmore-toggle" => "", :href => "#"} Read More
      .col-md-2
      .col-md-5.text-center
        %figure{:style => "float:left;"}
          %a{:href => "http://healthmarketinnovations.org/", :target => "_blank"}
            = image_tag 'chmi.png'
        %article#rmjs-2{"aria-expanded" => "false", "data-readmore" => "", :style => "max-height: none; height: 70px;"} The Center for Health Market Innovations (CHMI) promotes the diffusion of health market innovations – programs, policies, and practices – that have the potential to improve the quality and affordability of health care for low-income populations around the world. The CHMI approach combines information provision, analysis, research, and ‘learning’ activities that promote the improvement and adaptation of promising models. CHMI is managed by Results for Development Institute (R4D) in collaboration with a large network of global and country-based partners.
        %a{"aria-controls" => "rmjs-2", "data-readmore-toggle" => "", :href => "#"} Read More
  %br
  %br
  %section#find-caregiver{:style => "background-color:#eee"}
    %h2 Find a Professional Caregivers in 4 easy steps
    .container
      .row
        .col-sm-12
          .stage-status
            .stage-no{:style => "width:23%"}
              %span.active 1
              %br
                = image_tag 'pin.png'
                %br
                Choose location
            .stage-no{:style => "width:23%"}
              %span.active 2
              %br
                = image_tag 'gesture.png'
                %br
                Describe Needs
            .stage-no{:style => "width:23%"}
              %span.active 3
              %br
                = image_tag 'people.png'
                %br
                Choose Caregiver
            .stage-no{:style => "width:23%"}
              %span.active 4
              %br
                = image_tag 'time.png'
                %br
                Set Appointment
          
      .row.text-center
        %br
        .col-md-12
          %a.btn.btn-primary
            Start here

  %section#download-app
    .container
      .row
        .title Download our mobile app
        = image_tag 'google-play-icon.png' , :style => "width:auto; cursor:pointer;"
        
  / success stories


  
  = render 'shared/testimonial'

