.container-fluid{:ng_controller => "CareGiverBookingsController", :ng_init => "checkState()"}
  .row{:ng_init => "load_defaults()"}
    #spinner.col-md-offset-10{:ng_show => "spinnerActivated"} 
      %i.fa.fa-spinner.fa-4x
    .row{:ng_hide => "spinnerActivated"}
      %section{:ui_view => true}
