#add-new-pop-up.modal.fade 
  .modal-dialog
    .modal-content
      .modal-header
        .panel.panel-default
          .panel-body
            %form{:ng_submit => "save()", :no_validate => true, :class => "sky-form"}
              - if(current_user.role == 'l_c_agent')
                .row
                  %section.col.col-6
                    %label.radio-inline
                       %input{:name => "sos", :type => "radio", :ng_model => "ticket.sos", :value => "Patient"}
                  %section.col.col-6
                    %label.radio-inline
                       %input{:name => "sos", :type => "radio", :ng_model => "ticket.sos", :value => "Caregiver"}
                .row
                  %section.col.col-6
                    %label.input
                      = autocomplete_field_tag :name, '', auto_search_autocomplete_patient_names_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
                      = hidden_field_tag :id, :id => "#{@id}"   
                  %section.col.col-6
                    %label.select
                      %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:filtertype(ticket.sos)"}
              .row
                %section
                  %label.textarea
                    %textarea{:ng_model => "ticket.description", :placeholder => "Reason", :rows => 8}
              %footer
                %button{:type => "submit", :class=> "button"} Save
