.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} #{@role}s #{@current_tag} Tickets
  .row{:ng_controller => "TicketController", :ng_init => "loadTickets('#{@role}', '#{@current_tag}')"}
    = link_to "Create Ticket", "#", :ng_click => "newTicket()", :ng_hide => "ticket.isNew", :class => 'btn btn-primary'
    .row
      %br
    .row{:ng_show => "ticket.isNew"}
      .col-md-12
        .panel.panel-default
          .panel-body
            %form{:ng_submit => "save('#{@current_user.role}', '#{@role}')", :no_validate => true, :class => "sky-form"}
              - if(current_user.role == 'l_c_agent')
                -# .row
                -#   %section.col.col-6
                -#     %label.radio-inline
                -#       %input{:name => "sos", :type => "radio", :ng_model => "ticket.sos", :value => "Patient"}
                -#       %span Patient
                -#   %section.col.col-6
                -#     %label.radio-inline
                -#       %input{:name => "sos", :type => "radio", :ng_model => "ticket.sos", :value => "Caregiver"}
                -#       %span Caregiver
                - if(@role == 'Patient')
                  .row
                    %section.col.col-6
                      %label.input
                        = autocomplete_field_tag :first_name, '', auto_search_autocomplete_patient_names_path, :placeholder =>"Search Patient Name", :class => 'form-control', :id_element => "#id"
                        = hidden_field_tag :id, :id => "#{@id}"   
                    %section.col.col-6
                      %label.select
                        %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:filtertype('patient')"}
                          %option{:value => ""}    -- choose Category --
                        %i
                - elsif(@role == 'Caregiver')
                  .row
                    %section.col.col-6
                      %label.input
                        = autocomplete_field_tag :first_name, '', auto_search_autocomplete_caregiver_master_names_path, :placeholder =>"Search Caregiver Name", :class => 'form-control', :id_element => "#id"
                        = hidden_field_tag :id, :id => "#{@id}"   
                    %section.col.col-6
                      %label.select
                        %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:filtertype('care_giver')"}
                          %option{:value => ""}    -- choose Category --
                        %i
              - else
                .row
                  %section.col.col-6
                    %label.select
                      %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:filtertype('#{@current_user.role}')"}
              .row
                %section.col-md-24
                  %label.textarea
                    %textarea{:ng_model => "ticket.description", :placeholder => "description..", :rows => 4}
              %footer
                .col-md-2
                .col-md-1
                  %button{:type => "submit", :class=> "button"} Save
                .col-md-2
                .col-md-1
                  %button{:type => "reset",:ng_click => "close()", :class=> "button"} Close
      -# %span New Ticket 
      -# %input{:type => "input", placeholder: "Description", :ng_model => "ticket.description"}
      -# %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:filtertype('#{@current_user.role}')"}
      -# = link_to "save", "#", :ng_click => "save()"
    %table.table.table-list
      %thead
        %th Ticket#
        - if(current_user.role == 'l_c_agent')
          %th #{@role} Name
        %th Description
        %th Category
        %th Status
        %th Date
        %th Conversation
      %tbody
        %tr{"ng-repeat" => "ticket in tickets"}
          %td {{ticket.id}}
          - if(current_user.role == 'l_c_agent')
            %td {{ticket.name}}
          %td {{ticket.description}}           
          %td {{ticket.category_name}}
          %td {{ticket.current_tag}}
          %td {{ticket.raised_date}}       
          %td
            - if(current_user.role == 'l_c_agent' && "ticket.current_tag == 'New'")
              = link_to raw("<i class='fa fa-comments fa-lg'></i>"),'#', :ng_click => "edit(ticket)", :ng_show => "ticket.status == 'New'", :title => "Conversation"
              %a{:href => "/ticket_conversations?ticket_id={{ticket.id}}&name={{ticket.name}}&role={{ticket.role}}",:class => "fa fa-comments fa-lg", :ng_hide => "ticket.status == 'New'", :title => "Conversation"}

            - else
              %a{:href => "/ticket_conversations?ticket_id={{ticket.id}}&name={{ticket.name}}&role={{ticket.role}}",:class => "fa fa-comments fa-lg", :title => "Conversation"}
            
         
