.col-md-11{:ng_controller => "CareGiverLeaveController", :ng_init => "loadCareGiverLeaves(#{@care_giver_master.id})"}
  -# .col-md-12
  -#   .pull-right.sky-form
  -#     = link_to "Apply Leave", "#", :ng_click => "newCareGiverLeave()", :class => "button"

  .col-md-12
    .sky-form
      %header Caregiver Leaves
    .col-md-6
      %table.table-list
        %thead
          %th Leave From
          %th Leave To
          %th Applied At
          %th Description
          %th Status
        %tbody
          %tr{"ng-repeat" => "care_giver_leave in care_giver_leaves"}
            %td {{care_giver_leave.from_date}}
            %td {{care_giver_leave.to_date}}
            %td {{care_giver_leave.applied_at}}
            %td {{care_giver_leave.description}}
            %td {{care_giver_leave.status}}
    .col-md-1
    .col-md-5
      .panel.panel-default
        .panel-body
          %form{:ng_submit => "save()", :no_validate => true, :class => "sky-form"}
            .row
              %section.col.col-6
                %label.input
                  %input{:type => "text", :ng_model => "care_giver_leave.from_date", :placeholder => "Leave From", :my_datepicker => true}
              %section.col.col-6
                %label.input
                  %input{:type => "text", :ng_model => "care_giver_leave.to_date", :placeholder => "Leave To", :my_datepicker => true}
            .row
              %section
                %label.textarea
                  %textarea{:ng_model => "care_giver_leave.description", :placeholder => "Reason", :rows => 8}
            %footer
              %button{:type => "submit", :class=> "button"} Apply Leave
