%table.table.table-list
  %thead
    %th Date
    %th Description
    %th Amount
    %th Status
  %tbody
    - credit_notes.each do |credit_note|
      %tr
        %td= credit_note.credit_note_date
        %td= credit_note.reason_for_creadit_note
        %td= credit_note.value_of_credit_note
        %td= credit_note.status
