%table.table.table-list
  %thead
    %th 
      %input{:type => "checkbox", :ng_model => "checkAll#{context}", :ng_change => "toggleAll('#{context}')"} Check All
    %th Date
    %th Description
    %th Amount
    %th Status
    %th Actions
  %tbody
    %tr{:ng_repeat => "credit_note in getContextBasedCreditNotes('#{context}')"}
      %td 
        %input{:type => "checkbox", :ng_model => "credit_note.checked", :ng_change => "reflectTotalCreditNoteAmount('#{context}')"}
      %td {{credit_note.credit_note_date}}
      %td {{credit_note.reason_for_creadit_note}}
      %td {{credit_note.value_of_credit_note}}
      %td {{credit_note.status}}
      %td
        - if context != 'issued'
          = link_to "Issue", "#", :ng_click => "issue_action_on_credit_note(credit_note)", :class => "btn.btn-sm.btn-success"
        - if context != 'pending'
          = link_to "Revoke", "#", :ng_click => "revoke_action_on_credit_note(credit_note)", :class => "btn.btn-sm.btn-danger"
