%form{:name => "{{payment_master.form_name}}", :novalidate => true, :class => "sky-form", :ng_submit => "sendInvoice(payment_master)"}
  %fieldset
  .col-md-24
    %section
      .row
        %label.label.col.col-8 Invoice No
        .col.col-14
          %label.input
            = text_field_tag :invoice_no, "",:ng_model => "payment_master.invoice_no", :readonly => true
  .col-md-24
    %section
      .row
        %label.label.col.col-8 Date From
        .col.col-14
          %label.input
            = text_field_tag :period_from, "",:ng_model => "payment_master.period_from", :readonly => true
    %section
      .row
        %label.label.col.col-8 Date To
        .col.col-14
          %label.input
            = text_field_tag "period_to", "",:ng_model => "payment_master.period_to", :my_datepicker => "", :ng_focus => "periodToFocused(payment_master)", :ng_blur => "periodToBlured(payment_master, $index)"
            
    %section
      .row
        %label.label.col.col-8 No of Days
        .col.col-14
          %label.input
            = text_field_tag :no_of_days, "",:ng_model => "payment_master.no_of_days", :readonly => true, :id => "noOfDays"

    %section
      .row
        %label.label.col.col-8 Amount 
        .col.col-14
          %label.input
            = text_field_tag :amount_in_rupees, "",:ng_model => "payment_master.amount_in_rupees", :readonly => true, :id => "paymentAmountInRupees"
    %section
      .row
        %label.text.col.col-8 Disount 
        
        .col.col-14
          .col.col-10
            %label.input
              = text_field_tag :discount, "",:ng_model => "payment_master.discount", :id => "paymentDiscount"
          .col.col-12
            %label.select
              %select{:ng_model => "payment_master.discount_type", :ng_options => "option.value as option.key for option in discount_options", :ng_change => "broadcast_discount_change(payment_master)"}
              %i
    %section
      .row
        .col.col-10
        .col.col-12{:ng_show => "payment_master.enrollment_fee > 0"}
          %label
            %input{:type => "checkbox", :ng_model => "payment_master.discount_every_time"}
            Discount Every Time

    %section
      .row{:ng_show => "payment_master.enrollment_fee > 0"}
        %label.label.col.col-8 Enrollment Fee(+)
        .col.col-14
          %label.input
            = text_field_tag :enrollment_fee, "",:ng_model => "payment_master.enrollment_fee", :readonly => true
    %section
      .row{:ng_show => "payment_master.credit_notes.length > 0"}
        %label.label.col.col-8 Credit Note amount(-)
        .col.col-14
          %label.input
            = text_field_tag :credit_note_amount, "",:ng_model => "payment_master.credit_note_amount", :readonly => true

    %section
      .row
        %label.label.col.col-8 Total
        .col.col-14
          %label.input
            = text_field_tag :total_amount_in_rupees, "",:ng_model => "payment_master.total_amount", :readonly => true, :id => "paymentTotal"
    -# %section
    -#   .row
    -#     %label.label.col.col-8 Payment Mode
    -#     .col.col-14
    -#       %label.select
    -#         %select{:ng_model => "payment_master.payment_mode", :ng_options => "payment_mode.key as payment_mode.value for payment_mode in payment_modes"}
    -#         %i
    -# %section
    -#   .row
    -#     %label.label.col.col-8 Description 1
    -#     .col.col-14
    -#       %label.input
    -#         = text_field_tag :description_1, "", :ng_model => "payment_master.description_1"
    -#         %i
    -# %section
    -#   .row
    -#     %label.label.col.col-8 Description 2
    -#     .col.col-14
    -#       %label.input
    -#         = text_field_tag :description_2, "", :ng_model => "payment_master.description_2"
    -#         %i
    %section
      .row
        .col-md-8
        .col-md-6
          = submit_tag "Send Invoice", :class => "button", :ng_hide => "disable_recalculate_button", :id => "savingButton{{$index}}"
        .col-md-2
        .col-md-6
          = link_to "Recalculate", "#", :ng_click => "recalculate(payment_master)", :class => "button", :id => "recurringButton{{$index}}", :style => "display:none;"
