= wicked_pdf_stylesheet_link_tag "bootstrap"
= wicked_pdf_stylesheet_link_tag "style"
.container
  .row
    = render "pdf_header", :handler => [:pdf, :haml]
  .row
    %center
      %p{:style => "font-size:25px"}
        %b Credit Note
      %hr
  .row
    .col-md-24
      %table.table.table-list
        %tbody
          %tr
            %th Date 
            %td= Date.today
          %tr 
            %th Client Name
            %td= @payment_master.enrollment.patient.name
          %tr
            %th Invoice #
            %td= @payment_master.invoice_no
          %tr
            %th Invoice Amount
            %td= @payment_master.total_amount
          %tr
            %th Reason for Issuing Credit Note
            %td= @payment_master.credit_note_issue_reason
    .col-md-24
      %header Computation of Credit Note Value
      %table.table.table-list
        %tbody
          %tr
            %th A
            %th Days of service invoiced
            %td= @payment_master.no_of_days
          %tr 
            %th B
            %th Days of service provided
            %td= @payment_master.attendance_dates.count
          %tr
            %th C
            %th Difference(A-B)
            %td= @payment_master.absent_dates.count
          %tr
            %th D
            %th Daily service rate
            %td= @payment_master.daily_service_rate
          %tr
            %th E
            %th Value of credit note(C*D)
            %td= @payment_master.credit_note_amount
    .col-md-24
      %header Credit Note Control
      %table.table.table-list
        %tbody
          %tr
            %th 1
            %th No. of  days services provided as per CG register
            %td= @payment_master.attendance_dates.count
          %tr 
            %th 2
            %th No.of days services provided as per client's register
            %td= "--"
          %tr
            %th 3
            %th Is Notice period amount adjusted
            %td= @payment_master.notice_period_amount_adjusted?
          %tr
            %th 4.1
            %th Is payment made on client/patient's name
            %td= ""
          %tr
            %th 4.2
            %th If "NO", is authorization taken from client/patient to make payment on other's name
            %td= ""
  %b
    Note:- All refunds are made in the form of account payee cheque within 15 working days.
