.row.sky-form
  %header 
    = "#{@enrollment.patient.name}, #{@payment_master.invoice_no} Credit Notes"
    .pull-right
      = link_to "Back", enrollment_payment_master_path(@enrollment, @payment_master), :class => "button"
      = link_to "Print", credit_notes_enrollment_payment_master_path(@enrollment, @payment_master, :format => :pdf), :class => "button", :target => "_blank"

  .col-md-24
    = render :partial => "credit_note_listing", :locals => {credit_notes: @credit_notes }
