.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form{:ng_controller => "EnrollmentClosingPaymentController", :ng_init => "loadPaymentDetails(#{@enrollment.id}, '#{@close_date}')"}
    .row{:ng_show => "payment_attributes.payment_master"}
      %header Invoice
      = render "closing_invoice_form"
    .row
      %header Credit Notes
      .col-md-6
        %section
          .row
            %label.label.col.col-8 Close Date
            .col.col-14
              %label.input
                = text_field_tag :close_date, @close_date, :readonly => true


      .col-md-6
        %section
          .row
            %label.label.col.col-8 Total credit amount pending
            .col.col-14
              %label.input
                = text_field_tag :total_credit_amount_pending, "",:ng_model => "total_credit_amount_pending", :readonly => true
      -# .col-md-3
      -#   %section
      -#     .row
      -#       %label.label.col.col-4 Total credit amount to be issued
      -#       .col.col-7
      -#         %label.input
      -#           = text_field_tag :total_credit_amount_to_be_issued, "",:ng_model => "total_credit_amount_to_be_issued", :readonly => true

      .col-md-6
        %section
          .row
            %label.label.col.col-8 Total credit amount issued
            .col.col-14
              %label.input
                = text_field_tag :total_credit_amount_issued, "",:ng_model => "total_credit_amount_issued", :readonly => true
    .row
      .col-md-10{:ng_show => "payment_attributes.credit_notes_pending"}
        %header Credit Notes Pending
        = link_to "Issue Selected", "#", :ng_click => "issueActionOnMultipleCreditNotes()", :class => "button"
        .pull-right
          %h3 Total: {{payment_attributes.credit_notes_pending.length}}
        = render :partial => "enrollment_closing_credit_notes", :locals => {:context => "pending"}
      .col-md-2
      .col-md-10
        -# .row{:ng_show => "payment_attributes.credit_notes_to_be_issued.length > 0"}
        -#   %header Credit Notes To Be Issued
        -#   = link_to "Issue Selected", "#", :ng_click => "issueActionOnMultipleCreditNotes('to_be_issued')", :class => "button"
        -#   = link_to "Revoke Selected", "#", :ng_click => "revokeActionOnMultipleCreditNotes('to_be_issued')", :class => "button"
        -#   .pull-right
        -#     %h3 Total: {{payment_attributes.credit_notes_to_be_issued.length}}

        -#   = render :partial => "enrollment_closing_credit_notes", :locals => {:context => "to_be_issued"}
        .row{:ng_show => "payment_attributes.credit_notes_issued.length > 0"}
          %header Credit Notes Issued
          = link_to "Revoke Selected", "#", :ng_click => "revokeActionOnMultipleCreditNotes()", :class => "button"
          .pull-right
            %h3 Total: {{payment_attributes.credit_notes_issued.length}}
          = render :partial => "enrollment_closing_credit_notes", :locals => {:context => "issued"}
    %section
      .row
        .col-md-8
        .col-md-3
          %br
          %br
          = submit_tag "Save", :class => "button", :ng_click => "saveClosingPayment()"


