= wicked_pdf_stylesheet_link_tag "bootstrap"
= wicked_pdf_stylesheet_link_tag "style"
.container
  .row
    = render "payment_masters/pdf_header", :handler => [:pdf, :haml]
  .row
    %center
      %p{:style => "font-size:25px"}
        %b Invoice
      %hr
  .row
    .col-md-8.col-md-offset-14
      .pull-right
        %h3 
          = "Invvoice# #{@payment_master.invoice_no}"
  .row
    .col-md-8
      %table.table.table-list{:style => "width: 600px;"}
        %thead
          %th Invoice to
        %tbody
          %tr
            %td
              = @payment_master.enrollment.patient_with_address_html

  .row
    .col-md-24
      %table.table.table-list
        %thead
          %tr
            %th Invoice Date
            %th Terms
            %th Due Date
            %th Service Period
            %th Nurse
        %tbody
          %tr
            %td= @payment_master.invoice_generation_date
            %td= @payment_master.description
            %td= @payment_master.due_date
            %td= "#{@payment_master.period_from} - #{@payment_master.period_to}" 
            %td= "--"
    .col-md-24
      %table.table.table-list
        %thead
          %tr
            %th Caregiver
            %th Supervisor
        %tbody
          %tr
            %td= @payment_master.enrollment.enquiry.care_giver_names
            %td= "--"
    .col-md-24
      %table.table.table-list
        %thead
          %tr
            %th Service
            %th Description
            %th Number
            %th Rate
            %th Discount
            %th Amount
        %tbody
          %tr
            %td= @payment_master.enrollment.enquiry.services_str
            %td= "Home Nursing Services by Professional Caregiver for elderly patient. Guided by Life Circle Nurse."
            %td= @payment_master.no_of_days
            %td= (@payment_master.rate_per_day.present? ? @payment_master.rate_per_day : @payment_master.enrollment.enquiry.total_charge)
            %td= @payment_master.discount_amount
            %td= @payment_master.amount_after_discount
          - if @payment_master.enrollment_fee.present? 
            %tr
              %td= "Enrollment Fee"
              %td
              %td
              %td
              %td
              %td= @payment_master.enrollment_fee
      
          %tr
            %td
            %td
            %td
            %td
            %th Total
            %th= @payment_master.total_amount  
          %tr
            %td
            %td
            %td
            %td
            %th Balance Due
            %th= @payment_master.total_pending_payment

  .col-md-24
    Clients can make payment  in any of the following manner :
    %ol
    %li 
      Account payee Cheque in favour of : "Inddoc Health Services Pvt. Ltd". Only
      CTS cheque accepted without any cutting or overwriting. Clients are
      requested to fill complete payment details in the cheque before handing over
      to Inddoc staff.
    %li
      Online bank transfer or direct Cash Remittance to Inddoc bank account :
      IDBI Bank, Gachibowli, Hyderabad, Account No. 0432  1020  0000  3162  ISFC
      Code "IBKL 0000432". Please  mail/sms to Inddoc for correct matching with
      bank entry.
    %li
      Inddoc's representative are not authorized to accept cash payment for the
      services and any payment made to Inddoc staff is done on client's own risk.

    %li 
      Inddoc's staff are not authorized accept partial payment. Clients are
      requested to make full payment as per the Invoice value.
    %li
      All payment receipt would be sent to the email of the client.

    %li
      SYSTEM GENERATED INVOICE. NO SIGNATURE REQUIRED.
