.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form
    %header 
      Payment Details
      .pull-right
        = link_to "Print", enrollment_payment_master_path(@enrollment, @payment_master, :format => :pdf), :class => "button", :target => "_blank"
        = link_to "Email", "#", :class => "button"
        = link_to "Back", enrollment_payment_masters_path(@enrollment), :class => "button"
    %table.table.table-list
      %tr
        %th Contract period
        %th Start date
        %td= @payment_master.period_from
        %th End date
        %td= @payment_master.period_to
        %th No. of days
        %td= @payment_master.no_of_days
    %br
    %table.table.table-list
      %thead
        %th Caregiver
        %th Daily Service Rate
        %th No. of Days
        %th Total
      %tbody
        - @payment_master.enquiry_care_givers.each do |cg|
          %tr
            //%td= link_to cg.care_giver_master.name, cg.care_giver_master
            %td= cg.care_giver_master.name
            %td= cg.total_charge
            %td= @payment_master.no_of_days
            %td= (cg.total_charge * @payment_master.no_of_days).to_i

        %tr
          %td
          %td 
          %th Total
          %td= @payment_master.amount_in_rupees
        %tr
          %td
          %td 
          %th= "Discount Amount (-)"
          %td= "#{@payment_master.discount_amount}"

        - if @payment_master.first_payment?
          %tr
            %td
            %td 
            %th Enrollment Fee (+)
            %td= "#{@enrollment.enrollment_fee}"
        - if @payment_master.credit_notes.present?
          %tr
            %td
            %td 
            %th Credit Note Amount (-)
            %td= "#{@payment_master.credit_note_amount}"

        %tr
          %td
          %td 
          %th Grand Total
          %th= @payment_master.total_amount
        %tr
          %td
          %td 
          %th Amount Paid
          %th= @payment_master.total_amount_paid
        %tr
          %td
          %td 
          %th Balance Due
          %th= @payment_master.total_pending_payment

    .col-md-24
      %header Bills
      %table.table.table-list
        %thead
          %th Payment Date
          %th Paymenet Mode
          %th Description 1
          %th Description 2
          %th Amount Paid
        %tbody
          - @payment_master.payment_bills.each do |bill|
            %tr
              %td= bill.payment_date
              %td= bill.payment_mode
              %td= bill.description_1
              %td= bill.description_2
              %td= bill.amount_paid
    - if @payment_master.credit_notes.present?
      .col-md-24
        %header Credit Notes
        = render :partial => "credit_note_listing", :locals => {credit_notes: @payment_master.credit_notes }
