
%div
  %br

    %br
    .col-md-offset-1
    .col-md-22{:style => "border-style:solid; border-width:thin"}
      %center
        %b
          %u EXPERIENCE LETTER
      .container-fluid
        %table.table.table-responsive.table-bordered
          %tr
            %th{:style => "width:20%"} Name
            %td= @care_giver.name
          %tr
            %th Father's Name
            %td= @care_giver.father_name
          %tr
            %th ID details & No.
            %td &nbsp;
          %tr
            %th Period of engagement
            %td
              %table.table.table-responsive.table-bordered
                %thead
                  %th Client Name
                  %th Period from date
                  %th period To date
                %tbody
                  %tr
                    - @engagements.each do |x|
                      %td= x.enquiry.patient.name
                      %td= x.enquiry.service_requested_from
                      %td= x.enquiry.service_requested_to
                      
          %tr
            %th Role
            %td &nbsp;
          %tr
            %th Nature of Work
            %td &nbsp;
        .row
          .pull-left
            %p
              %b For Life Circle Health Services Pvt.Ltd.
          .pull-right
            %img{:alt => "text", :src => "CG Experience Letter_files/image001.png"}
        .row
          .pull-left
            (Authorised Signatory)
            %br
              %br
                %p Date: 
                = Date.today
        %br
          %br
            %center
              %big Terms of engagement of Caregiver is available at the website of Life Circle (www.lifecircle.in)
      %br
        %br
