%h1 CareGiverReturnEquipments#index
%p Find me in app/views/care_giver_return_equipments/index.html.haml
#lifeCircleAccordian.container
  .content_fullwidth
    .col-md-24
      .sky-form
        .panel-group{:id => "accordion","aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default
            #headingOne.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                  Devices
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseOneShown, 'fa-angle-up': !collapseOneShown}"}
            #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .panel-body
                = render "devices"
          .panel.panel-default
            #headingTwo.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                  Experience Letter
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseTwoShown, 'fa-angle-up': !collapseTwoShown}"}
            #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .panel-body
                = render "letter" 
                %br
          .panel.panel-default
            #headingThree.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                  Payments
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseThreeShown, 'fa-angle-up': !collapseThreeShown}"}
            #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .panel-body
                = render "payments"
