.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} Closed Enrollments
  .col-md-24
    %table.table.table-list
      %thead
        %th Patient Name
        %th Start Date
        %th Closed Date
        %th Reason for Closing
        %th No.of Days
      %tbody
        - @enrollments.each do |enquiry|
          %tr
            %td=  link_to enquiry.patient.name, enrollment_path(enquiry)
            %td= enquiry.enquiry.try(:service_required_from)
            %td= enquiry.closed_date
            %td= enquiry.reason_for_closing
            //%td= (enquiry.closed_date.to_date - enquiry.enquiry.try(:service_required_from).to_date ).to_i
            
