%table.table.table-list
  %thead
    %th Notification Date
    %th Notification Comments
    %th Requested Close Date
  %tbody
    %tr
      %td= @enrollment.notification_given_date
      %td= @enrollment.comments_on_notification
      %td= @enrollment.close_request_date
- if @enrollment.closed_date.present?
  %table.table.table-list
    %thead
      %th Closed Date
      %th Reason For Closing
      %th Closing Comments
    %tbody
      %tr
        %td= @enrollment.closed_date
        %td= @enrollment.reason_for_closing
        %td= @enrollment.closing_comments
