%br
.row
  .sky-form
    .col-md-24
      .col-md-12
        .col-md-6
          %label
            Name:
            
        .col-md-12
          %label.input
            %input{:type => "text", :ng_model => "enrollment.enquiry.requested_user_name", :readonly => true}
      %br
      .col-md-12
        .col-md-6
          %label
            Appointment Time
        .col-md-12
          %label.input
            %input{:type => "text", :ng_model => "enrollment.enquiry.appointment_time_str", :readonly => true}
   
    .col-md-24
      .col-md-12
        .col-md-6
          %label
            Email:
            
        .col-md-12
          %label.input
            %input{:type => "text", :ng_model => "enrollment.enquiry.email", :readonly => true}
      %br
      .col-md-12
        .col-md-6
          %label
            Mobile No
        .col-md-12
          %label.input
            %input{:type => "text", :ng_model => "enrollment.enquiry.mobile_no", :readonly => true}
    .col-md-24
      %fieldset
        .col-md-12
          .col-md-6
            %label
              Address
          .col-md-12
            %label.textarea
              %textarea{:ng_model => "enrollment.enquiry.address_str", :readonly => true}
        .col-md-12
          = link_to "Modify Enquiry", "#", :ng_click => "modify_enquiry()", :class => "button"
%br
.row
  %table.table.table-list
    %thead
      %th Services
      %th Service From 
      %th Service To
      %th Registered By
    %tbody
      %tr
        %td {{enrollment.enquiry.services_str}}
        %td {{enrollment.enquiry.service_required_from}}
        %td {{enrollment.enquiry.service_required_to}}
        %td {{enrollment.enquiry.registered_by}}
%br
.row
  .col-md-10
    %table.table.table-list
      %tbody
        %tr
          %th No Of Caregivers
          %td {{enrollment.enquiry.no_of_care_givers}}
        %tr
          %th Require Heavy Patient Lifting?
          %td {{enrollment.enquiry.require_heavy_patient_lifting}}
        %tr
          %th Caregiver Stay
          %td {{enrollment.enquiry.caregiver_stay}}
        %tr
          %th Language Profficiency
          %td {{enrollment.enquiry.language_str}}
          
  .col-md-2
  .col-md-10
    %table.table.table-list
      %thead
        %th From Time
        %th To Time
      %tbody
        %tr{:ng_repeat => "time in enrollment.enquiry.requested_time_slots"}
          %td {{time.decorated_time_from}}
          %td {{time.decorated_time_to}}
.row
  #enquiryModificationDiv.custom-modal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          %h4 
            %button{:class => "close", :data => {:dismiss => "modal"}, "area-label" => "close"}
              %span{"area-hidden" => "true"} 
                %i.fa.fa-close
          = render :partial => "modify_enquiry", :locals => {:after_enrollment => false}
