
.row
  %br
  .col-md-24
    %table.table.table-list
      %thead
        %th= sortable  "patient_name"
        %th Location
        %th Service From
        %th Service To
        %th Phone
        %th CG Names
        %th Chat
      
        %tbody
          - @enquiries.each do |enquiry|
            %tr
              %td= link_to enquiry.patient_name , enquiry.enrollment , :class =>"green"
              %td=  enquiry.address_str
              %td= enquiry.service_required_from
              %td= enquiry.service_required_to
              %td= enquiry.mobile_no
              %td= enquiry.care_giver_names
              %td
                = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => enquiry.id, :conversation_master_type => "Enquiry", :name => enquiry.patient_name , :status => "enrollment"), :title => "Conversation"
  
= will_paginate @enquiries
