.row
  %section.col.col8
    %label
      What is the home setting of the patient?
    %br
    %label
      %input{:type => "radio",:style => 'margin-left:10px', :ng_model => "enrollment.patient_home_setting", :ng_value => "LIVES_ALONE", :name => "patient_home_setting"}
      &nbsp Lives Alone
      %br
      %input{:type => "radio", :ng_model => "enrollment.patient_home_setting",:style => 'margin-left:10px', :ng_value => "STAYS_WITH_FAMILY_M_F", :name => "patient_home_setting"}
      &nbsp; Stays with family (m and f )
      %br
      %input{:type => "radio", :ng_model => "enrollment.patient_home_setting",:style => 'margin-left:10px',  :ng_value => "STAYS_WITH_FAMILY_ONLY_M", :name => "patient_home_setting"}
      &nbsp; Stays with family (only male)
  .col-md-24{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.patient_home_setting.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.patient_home_setting.$error.required"} Required field

.row
  %section.col.col8
    %label
      Will the Nurse/Caregiver work alone with Patient?
    %br
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.cg_work_alone_with_patient", :ng_value => "true", :name => "cg_work_alone_with_patient", :ng_required => "!enrollment.cg_work_alone_with_patient"}
      &nbsp; Yes
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.cg_work_alone_with_patient", :ng_value => "false", :name => "cg_work_alone_with_patient", :ng_required => "!enrollment.cg_work_alone_with_patient"}
      &nbsp; No
  .col-md-12.col-md-offset-6{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.cg_work_alone_with_patient.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.cg_work_alone_with_patient.$error.required"} Required field
.row
  %section.col.col8
    %label
      Is the patient suffering from any infectious disease (HIV/HBV/HVC/TB )?
    %br
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.suffering_from_infection_disease", :ng_value => "true", :name => "suffering_from_infection_disease", :ng_required => "!enrollment.suffering_from_infection_disease"}
      &nbsp; Yes
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.suffering_from_infection_disease", :ng_value => "false", :name => "suffering_from_infection_disease", :ng_required => "!enrollment.suffering_from_infection_disease"}
      &nbsp; No
  .col-md-24{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.suffering_from_infection_disease.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.suffering_from_infection_disease.$error.required"} Required field

.row
  %section.col.col8
    %label
      Is the locality safe/well connected for Nurses to operate?
    %br
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.safe_and_well_connected_locality", :ng_value => "true", :name => "safe_and_well_connected_locality", :ng_required => "!enrollment.safe_and_well_connected_locality"}
      &nbsp; Yes
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.safe_and_well_connected_locality", :ng_value => "false", :name => "safe_and_well_connected_locality", :ng_required => "!enrollment.safe_and_well_connected_locality"}
      &nbsp; No
  .col-md-24{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.safe_and_well_connected_locality.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.safe_and_well_connected_locality.$error.required"} Required field

.row
  %section.col.col8
    %label
      Will the Client provide Personal Protective Equipment & Sanitizer  to Professional Caregiver?
    %br
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.provides_personal_protective_equipment", :ng_value => "true", :name => "provides_personal_protective_equipment" , :ng_required => "!enrollment.provides_personal_protective_equipment"}
      &nbsp; Yes
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.provides_personal_protective_equipment", :ng_value => "false", :name => "provides_personal_protective_equipment", :ng_required => "!enrollment.provides_personal_protective_equipment"}
      &nbsp; No
  .col-md-24{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.provides_personal_protective_equipment.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.provides_personal_protective_equipment.$error.required"} Required field

.row
  %section.col.col8
    %label
      Will the Patient's family member help the Caregiver in heavy patient lifting ? 
    %br
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.family_member_helps", :ng_value => "true", :name => "family_member_helps", :ng_required => "!enrollment.family_member_helps"}
      &nbsp; Yes
    %label{:style => 'margin-left:10px'}
      %input{:type => "radio", :ng_model => "enrollment.family_member_helps", :ng_value => "false", :name => "family_member_helps", :ng_required => "!enrollment.family_member_helps"}
      &nbsp; No
  .col-md-24{:ng_show => "safetyCheckSubmitted || EnrollmentInputForm.family_member_helps.$touched"}
    %span.error{:ng_show => "EnrollmentInputForm.family_member_helps.$error.required"} Required field


.row
  #modal.custom-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %h4 
            Enquiry is not safe for enrollment:
          %span.error{:ng_repeat => "safety in safetyMeassures"}
            {{safety}}
            %br
          %button{:class => "close", :data => {:dismiss => "modal"}, "area-label" => "close"}
            %span{"area-hidden" => "true"} 
              %i.fa.fa-times
        .modal-body
          %br
          .sky-form
            %section
              %label.textarea
                = text_area :comments,"", :id => "", :placeholder => "Comments...", :cols => 50, :rows => 15, :ng_model => "enrollment.enrollment_safety_violation.comments"
            %footer
              .col-md-4
              .col-md-4
                = link_to "Close", "#", :ng_click => "auditState()", :class => "btn btn-primary"
              .col-md-2
              .col-md-6
                %button{:class => "btn btn-primary", :data => {:dismiss => "modal"}, "area-label" => "close"} Continue
                //%button{:class => "button", :data => {:dismiss => "modal"}, "area-label" => "close"} Close
              -# .col-md-4
              -#   = link_to "Close Enquiry", "#", :ng_click => "closeEnquiry()", :class => "button"
