.col-md-20
  - @care_giver_masters.each_with_index do |care_giver, index|
    #caregiverBlock.row
      .col-md-12.col-xs-24
        = image_tag care_giver.image_url, :class => "img-responsive img-thumbnail"
      .col-md-12
        .row
          .col-md-8.col-xs-6
            %span.subHeader Name
            %header-lg= care_giver.name
            %span
              .subHeader-inline Age 
              .subHeader-clr= care_giver.age
            .subHeader
              .subHeader-inline References
              .subHeader-clr
            .subHeader
              %a{:href => "#collapse_#{index}", :data => {:toggle => "collapse"}, "aria-expanded" => "false", "aria-controls" => "collapse_{{$index}}"} 
                Details 
                %i.fa.fa-angle-down

          .col-md-6
            %span.subHeader Prof Qualification
            %header= care_giver.professional_qualification_html.html_safe

            %span.subHeader Approx Travel Distance
            %header= "#{care_giver.approximate_travel_distance} KM's"
          .col-md-6.pull-right
            %span.subHeader Charges
            %header-lg= care_giver.total_charge
            = form_tag compare_payments_on_cg_change_enrollment_path(@enrollment) do
              = hidden_field_tag :care_giver_master_id, care_giver.id
              = hidden_field_tag :old_care_giver_master_id, @old_care_giver_master_id
              = hidden_field_tag :approximate_travel_distance, care_giver.approximate_travel_distance
              = submit_tag "Assign", :class => "btn btn-success"
      .col-md-20
        %div{:class => "collapse", :id => "collapse_#{index}"}
          .panel.panel-default
            .panel-body
              .row
                .col-md-6
                  %header Services
                  = care_giver.services_html.html_safe
                .col-md-6
                  %header Language Profficiency
                  = care_giver.languages_html.html_safe
                .col-md-6
                  %header Education
                  = care_giver.education_details_html.html_safe
                  %header ID Type
                  %ul.list1
                    %li
                      %i.fa.fa-chevron-circle-right
                      = care_giver.id_proof_type
