.col-md-24
  .col-md-8
    .row
      #caregiverBlock.row.sky-form
        %header Old Caregiver
        .col-md-8.col-xs-12
          = image_tag @old_care_giver_enquiry.care_giver_master.profile_pic.thumb.url, :class => "img-responsive img-thumbnail"
        .col-md-8
          .row
            .col-md-8.col-xs-6
              %span.subHeader Name
              %header-lg= @old_care_giver_enquiry.care_giver_master.name
              %span
                .subHeader-inline Age 
                .subHeader-clr= @old_care_giver_enquiry.care_giver_master.age
    .row
      %table.table.table-list
        %tr
          %th Caregiver Charge
          %td= @old_care_giver_enquiry.caregiver_charge
        %tr
          %th 
            = "Travel Charge for #{@old_care_giver_enquiry.approx_travel_distance} Kms"
          %td= @old_care_giver_enquiry.transport_charge

        %tr
          %th Total Charge
          %th= @old_care_giver_enquiry.total_charge
  .col-md-1
  .col-md-4
    .row
      #caregiverBlock.row.sky-form
        %header New Caregiver
        .col-md-10.col-xs-12
          = image_tag @new_care_giver_master.profile_pic.thumb.url, :class => "img-responsive img-thumbnail"
        .col-md-10
          .row
            .col-md-8.col-xs-6
              %span.subHeader Name
              %header-lg= @new_care_giver_master.name
              %span
                .subHeader-inline Age 
                .subHeader-clr= @new_care_giver_master.age
    .row.sky-form
      = form_for @new_enquiry_care_giver, :url => update_care_giver_change_enrollment_path(@enrollment) do |f|
        = f.hidden_field :old_enquiry_care_giver_id
        = f.hidden_field :care_giver_master_id
        %section
          %label.text
            New Caregiver Charge
          %label.input
            = f.number_field :caregiver_charge, autofocus: true, :min => 0 
        %section
          %label.text
            = "Transport Charge For #{f.object.approx_travel_distance} KM's"
          %label.input
            = f.number_field :transport_charge, :min => 0 
        %section
          %label.text
            Total Charge
          %label.input
            = f.number_field :total_charge, :min => 0 
        %section
          %label.text
            Adjustment Amount
          %label.input
            = f.number_field :adjustment_amount, :min => 0 
        %section
          %label.text
            Consider Modified Charge
          %label
            &nbsp;&nbsp;&nbsp;&nbsp;
            = f.check_box :consider_modified_charge
        %section
          %label.text
            Final Amount
          %label.input
            %input{:type => "text", :value => "#{f.object.total_charge + f.object.adjustment_amount}", :readonly => true}
        %footer
          .col-md-6
          .col-md-2
            = f.submit "Replace", :class => "button"
