%h1 PatientCarePlan#index
%p Find me in app/views/patient_care_plan/index.html.haml

.container{:ng_controller => "patientCarePlanController", :ng_init => "loadCurrentUser()"}
  .content_fullwidth
    %h3.section_title
      %strong Patient Care Plan
  %br
    %ul.tabs2
      %li{:id => "patient_self_care_tab", :rel => "tablistElement"}
        %a{:ui_sref => "PatientSelfCareAbility({ enrollmentId: '#{@enrollment.id}'})"} Patient Self Care Ability
      %li{:id => "adaptive_devices_tab", :rel => "tablistElement"}
        %a{:ui_sref => "AdaptiveDevices({ enrollmentId: '#{@enrollment.id}'})"} Adaptive Devices
      %li{:id => "patient_routine_tab", :rel => "tablistElement"} 
        %a{:ui_sref => "PatientRoutine({ enrollmentId: '#{@enrollment.id}'})"} Patient Routine
      %li{:id => "drug_management_tab", :rel => "tablistElement"}
        %a{:ui_sref => "DrugManagement({ enrollmentId: '#{@enrollment.id}'})"} Drug Management
      %li{:id => "vitals_to_be_tracked_tab", :rel => "tablistElement"}
        %a{:ui_sref => "VitalstobeTracked({ enrollmentId: '#{@enrollment.id}'})"} Vitals to be Tracked     
    .tabs-content2
      .row
        %section{:ui_view => true}
