.container
  %h3 Patients
  .col-md-20
    - if @patients.present?
      %table.table.table-list
        %thead
          %th Name
          %th Age
          %th Gender
          %th Address
          %th Mobile
          %th Alternate No
          
        %tbody
          - @patients.each do |patient|
            %tr
              %td= link_to (patient.name) , patient_path(patient)
              %td= patient.age
              %td= patient.gender
              %td= patient.address_str
              %td= patient.mobile_no
              %td= patient.alternate_contact_no
          
    - else
      %p No enrollments
