.row{:ng_controller => "CareGiverBookingsController"}
  #lifeCircleAccordian.container
    %br
    .aligncenter
      %h4.green Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
    .content_fullwidth
      .col-md-10.col-md-offset-1.col-xs-12
        .panel-group{:id => "accordion", :role => "tablist", "aria-multiselectable" => "true"}
          %form{:name => "serviceRequestForm", :class => "sky-form", :no_validate => "", :ng_submit => "list_care_givers()"}
            .panel.panel-default
              .panel-heading-active{:id => "headingOne", :role => "tab"}
                %h4.panel-title{:ng_init => "gotoStep0()" }
                  %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", :role => "button", :href => "#", :ng_click => "gotoStep0()" } Select Services Required
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-down': servicesShown, 'fa-angle-up': !servicesShown}"}

              #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                .panel-body
                  %fieldset
                    .col-md-12{:ng_init => "loadServices()"}
                      .col-md-3{:ng_repeat => "service in enquiry.services"}
                        %section
                          .col-md-2
                            %label.checkboxinline
                              %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
                              &nbsp;
                          .col-md-10
                            %label
                              {{service.service}}
                    .col-md-12
                      .pull-right
                        %a{:href => "#", :ng_click => "gotoStep1()",:class => "button"} Next


            .panel.panel-default
              %div{:id => "headingTwo", :role => "tab", :ng_class => "{'panel-heading': !cgOptionsSubmitted, 'panel-heading-active': cgOptionsSubmitted}"} 
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseTwo", "data-parent" => "#accordion", :role => "button", :href => "#"} Select Caregiver Preference
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-down': cgOptionsShown, 'fa-angle-up': !cgOptionsShown}"}

              #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel", "aria-expanded" => "false"}
                .panel-body
                  %fieldset
                    .col-md-12.border
                      .col-md-3
                        %section
                          %label.text
                            Preferred gender of the caregiver
                      .col-md-9
                        %section.col.col-4
                          %label.radio-inline
                            %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE", :name => "gender"}
                            %span Male

                        %section.col.col-4
                          %label.radio-inline
                            %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE", :name => "gender"}
                            %span Female
                        %section.col.col-4
                          %label.radio-inline
                            %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY", :name => "gender"}
                            %span No Preference
                        .col-md-12
                          %span.error{:ng_show => "genderCaptured"} Please check the caregiver gender
                      %hr
                    .col-md-12.border{:ng_init => "loadLanguages()"}
                      .col-md-3
                        %section
                          %label.text
                            Preferred language spoken/understood by the caregiver
                      .col-md-9
                        %section.col.col-3{:ng_repeat => "language in enquiry.languages"}
                          %label.checkbox-inline
                            %input{:type => "checkbox", :name => "service_request_form_object[language_profficiency][]", :ng_model => "language.assigned"}
                            &nbsp;
                            {{language.language}}
                        .col-md-12
                          %span.error{:ng_show => "language_empty"} Please check the required languges

                    .col-md-12.border
                      .col-md-3
                        %section
                          %label.text
                            Preferred place for the caregiver to stay
                      .col-md-9
                        .col-md-6
                          %section
                            %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN", :name => "caregiver_stay"}
                            %span Live In(To stay with patient)
                        .col-md-6
                          %section
                            %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT", :name => "caregiver_stay"}
                            %span Live Out(To stay at her own home)
                    .col-md-12.border
                      .col-md-3
                        %section
                          %label.text Preferred number of caregiver (s) required
                      .col-md-2
                        %section
                          %label.input
                            %input{:type => "number", :ng_model => "enquiry.no_of_care_givers" ,  :min => "0" , :max => "2" }
                      .col-md-2
                        %span.error{:ng_show => "max_number"} Only Two care givers are allowed
                    .col-md-12.border
                      .col-md-3
                        %section
                          %label.text Preferred daily budget for the Caregiver
                      .col-md-5
                        %section
                          %label.input
                            %input{:type => "number", :ng_model => "enquiry.affordable_price"}
                            %span Per Care Giver
                    .col-md-12.border
                      .col-md-3
                        %section
                          %label.text Caregiver should be able to do HEAVY patient lifting
                      .col-md-9
                        %section.col.col-4
                          %label.checkbox-inline
                            %input{:type => "checkbox", :ng_model => "enquiry.require_heavy_patient_lifting"}

                    .col-md-12{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"}
                      .col-md-3
                        %section
                          %label.text Approx travel distance
                      .col-md-5
                        %section
                          %label.input
                            %input{:type => "number", :ng_model => "enquiry.travel_distance"}

                    .col-md-12
                      .pull-right
                        %a{:href => "#", :ng_click => "gotoStep2()",:class => "button"} Next

            .panel.panel-default
              %div{:id => "headingTwo", :role => "tab", :ng_class => "{'panel-heading': !timeRegionSubmitted, 'panel-heading-active': timeRegionSubmitted}"}  
                %h4.panel-title 
                  %a.collapsed{"aria-controls" => "collapseThree", "data-parent" => "#accordion" , :role => "button", :href => "#"} Select when and what time you want the service
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-down': timeRegionShown, 'fa-angle-up': !timeRegionShown}"}
              #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel", "aria-expanded" => "false"}

                .panel-body
                  %fieldset
                    .col-md-12
                      %section.col.col-6
                        %label.input
                          %h3 Service Start Date
                      %section.col.col-6
                        %label.input
                          %input{:type => "text", :ng_model => "enquiry.service_required_from", :placeholder => "Date From", :my_datepicker => "", :required => true}
                      %section.col.col-6
                        %label.input
                          %h3 Service Duration
                      %section.col.col-1
                        %label
                          %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "LONG"}
                          %span Long Term 
                      %section.col.col-1
                        %label
                          %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "LIMITED"}
                          %span Limited Period 
                      %section.col.col-6
                        %label.input{:ng_hide => "enquiry.open_term == 'LONG'"}
                          %h3 Service end date
                      %section.col.col-6
                        %label.input{:ng_hide => "enquiry.open_term == 'LONG'"}
                          %input{:type => "text", :ng_model => "enquiry.service_required_to", :placeholder => "Date To", :my_datepicker => ""}
                        //%input{:type => "checkbox", :ng_model => "enquiry.open_term"} Long Term
                    .col-md-12
                      .col-md-offset-5
                        %span.error{:ng_show => "invalidDate"} Invalid date range
                    .col-md-12{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"}
                      %h3 
                        &nbsp;&nbsp;&nbsp;&nbsp;Time Slots
                      %fieldset
                        %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'", :slots => "enquiry.requested_time_slots", :invalidTimeSlot => false}
                  .col-md-12
                    .pull-right
                      %button{:href => "/patients/list_care_givers", :class => "button"} Click to see Caregivers Matching your Requirements
                      //%button{:type => "Submit", :class => "button"} Click to see Caregivers Matching your Requirements
