.row
  %section.col.col-6
    %label.input
      = af.text_field :line1, :placeholder => "Line 1"
  %section.col.col-6
    %label.input
      = af.text_field :line2, :placeholder => "Line 2"
.row
  %section.col.col-6
    %label.input
      = af.text_field :country, :value => "India"
  %section.col.col-6
    %label.input
      = af.text_field :state, :placeholder => "State"
.row
  %section.col.col-6
    %label.input
      = af.text_field :city, :placeholder => "City"
  %section.col.col-6
    %label.input
      = af.text_field :area, :placeholder => "Area"
.row
  %section.col.col-6
    %label.input
      = af.text_field :pin_code, :placeholder => "Pincode"
