%section
  %label.input
    %i.icon-append.icon-envelope-alt
    = f.email_field :email, :placeholder => "Email address"
-# %section
-#   %label.input
-#     %i.icon-append.icon-phone
-#     = f.text_field :mobile_no, :placeholder => "Phone Number", :type => "tel"
%section{"ng-controller" => "RegistrationController"}
  %label.input
    %i.icon-append.icon-user
    = f.text_field :user_name, :ng_blur => "validateUser()", :ng_model => "userName", :placeholder => "User Name"
    %span{:ng_show => "invalidUserIcon == 'show'"} Not Valid
    %span{:ng_show => "invalidUserIcon == 'hide'"} Valid
    %span{:ng_show => "invalidUserName"} User Name Already Exists
%section
  %label.input
    %i.icon-append.icon-lock
    = f.password_field :password, autocomplete: "off", :placeholder => "Password", :id => "password"
%section
  %label.input
    %i.icon-append.icon-lock
    = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm password"
    %b.tooltip.tooltip-bottom-right Don't forget your password
