.row{:ng_controller => 'CareGiverBookingsController'}
  .row
    %center
      %h2 Attendance
  .row
    .col-md-1
    .col-md-3
      %big
        from date
    .col-md-3
      = text_field_tag :from_time , nil , :class => 'datepicker form-control' , :ng_model => 'from_time', :ng_change => 'get_from_time()'
    .col-md-3
      %big
        To date
    .col-md-3
      = text_field_tag :to_time , nil , :class => 'datepicker form-control' , :ng_model => 'to_time', :ng_change => 'get_to_time()' 
    .col-md-5 
      = link_to 'Get Attendance' , '#' , :class => 'btn btn-primary' , :ng_click => 'get_attendance()', :style => "width:auto;"
  %br
  .row
    .row
      .col-md-1
      .col-md-10
        %table.table.table-list
          %thead
            %tr
              %th Name
              %th{:ng_repeat => 'x in care_giver_masters.care_giver_masters'}
                {{x.name}}
              
          %tbody
            %tr{:ng_repeat => '(key,value) in reports'}
              %td
                {{key}}

              %td{:ng_repeat => "x in care_giver_masters.care_giver_masters"}
                %div{:ng_repeat => "y in value|filter: {date : y.date } : true | filter : {care_giver_master_id: x.id} : true"}
                  {{y.status}}
                  
