= render :partial => "shared/page_title", :locals => {:title => "Welcome"}
.container
  .content_fullwidth
    .login_form
      = form_tag init_enquiry_care_giver_masters_path, :method => "POST", :class => "sky-form" do
        %header{:style =>"box-shadow:none; background-color: rgb(249, 249, 249);"} Welcome
        %fieldset
          %section
            .row
              %label.label.col.col-4 Date of Birth
              .col.col-8
                %label.input
                  = text_field_tag :dob, "",:class => "datepicker"
          %section
            .row
              %label.label.col.col-4 Highest Qualification
              .col.col-8
                %label.select
                  = select_tag :highest_qualification, options_for_select([["Post Graduation", "PG"], ["Under Graduation", "UG"], ["Class-12", "CLASS_12"], ["Class 10", "CLASS_10"], ["Class 9", "CLASS_9"], ["Class 8", "CLASS_8"], ["Below Class 8", "BELOW_CLASS_8"]])
        %footer
          .fright
            = submit_tag "Go", {:class => "button"}
