.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  - if @params == 'Documents Collected'
    %h2{:align => "center"} Approval List
  - else
    %h2{:align => "center"} #{@params} Caregivers
  .col-md-24
    - if @params == "Active"
      %br
      = render 'active'
    - if @params == 'Leave'
      %br
      = render 'inactive'
    - if @params == 'Working'
      %br
      = render 'working'
    - if @params == 'Resign'
      %br
      = render 'terminated'
    - if @params == 'Documents Collected'
      - if @care_giver_masters.present?
        %br
        %table.table.table-list{:ng_controller => "CareGiverController", :ng_init => "loadCaregivers()"}
          %thead
            %th Photo
            %th Name
            %th Phone#
            %th Entered by
            %th Entered At
            
            
          %tbody
            - @care_giver_masters.each do |care_giver|
              %tr
                %td= link_to image_tag((care_giver.profile_pic.present? ? care_giver.profile_pic.thumb.url : "/uploads/default/thumb_user.png"), :alt => "profile_pic"), care_giver
                %td= care_giver.name
                %td= care_giver.telephone_no
                %td= care_giver.try(:status_changed_by).try(:user_name)
                %td= care_giver.status_changed_at
                
      - else
        %p No Caregivers                  

    -if @params == nil
      %br
      %table.table.table-list{:ng_controller => "CareGiverController", :ng_init => "loadCaregivers()"}
        %thead
          %th Photo
          %th Name
          %th Phone#
          %th Entered by
          %th Entered At
            
            
        %tbody
          - @care_giver_masters.each do |care_giver|
            %tr
              %td= link_to image_tag((care_giver.profile_pic.present? ? care_giver.profile_pic.thumb.url : "/uploads/default/thumb_user.png"), :alt => "profile_pic"), care_giver
              %td= care_giver.name
              %td= care_giver.telephone_no
              %td= care_giver.try(:status_changed_by).try(:user_name)
              %td= care_giver.status_changed_at
