= form_for(@care_giver_master, url: update_approach_care_giver_master_path(@care_giver_master), :method => "put") do |f|
  - if f.object.errors.present?
    = render "shared/error_messages", :object => f.object
  .field
    = f.select :mentioned_registration_type, options_for_select(Enquiry::REGISTRATION_TYPE_OPTIONS)
  = f.submit "Next"
