.row 
  %h4 Caregiver Leave Replacement
  %hr
  %section.col-md-4
    %h3
      %p= "Name: #{@care_giver_master.name}"
      %p= "Gender: #{@care_giver_master.gender }"
      %p= "Father Name: #{@care_giver_master.father_name}"
      %p= "Mother Name: #{@care_giver_master.mother_name}"
  %section.col-md-5
    - if @care_giver_master.profile_pic.present?
      = image_tag @care_giver_master.profile_pic.thumb.url, :class => "img-rounded"
    - else
      = image_tag "/uploads/default/thumb_user.png", :class => "img-rounded"
.row
  %h4 Assigned Enrollments
  %hr
  - @active_associated_enrollments.each_with_index do |enrollment, index|
    .row
      %h5
        .subHeader-inline
          = link_to "Enrollment #{index+1}", enrollment, :target => "_blank"
      .col-md-24
        %table.table.table-list
          %thead
            %th Name
            %th Age
            %th Gender
            %th Address
            %th Mobile
            %th Start Date
            %th End Date
            %th Is Open Term
          %tr
            %td= link_to enrollment.patient.name , enrollment, :target => "_blank"
            %td= enrollment.patient.age
            %td= enrollment.patient.gender
            %td= enrollment.patient.address_str 
            %td= enrollment.patient.mobile_no
            %td= enrollment.enquiry.service_required_from
            %td= enrollment.enquiry.service_required_to
            %td= enrollment.enquiry.open_term.to_s.titleize

      .col-md-24
        - enrollment.other_matching_care_givers.each_with_index do |care_giver, index|
          #caregiverBlock.row
            .col-md-12
              %h4
                .subHeader-inline Mateched Caregiver
            .col-md-2.col-xs-12
              = image_tag care_giver.image_url, :class => "img-responsive img-thumbnail"
            .col-md-9
              .row
                .col-md-4.col-xs-6
                  %span.subHeader Name
                  %header-lg= care_giver.name
                  %span
                    .subHeader-inline Age 
                    .subHeader-clr= care_giver.age
                  .subHeader
                    .subHeader-inline References
                    .subHeader-clr
                  .subHeader
                    %a{:href => "#collapse_#{index}", :data => {:toggle => "collapse"}, "aria-expanded" => "false", "aria-controls" => "collapse_#{$index}"} 
                      Details 
                      %i.fa.fa-angle-down

                .col-md-3
                  %span.subHeader Prof Qualification
                  %b= care_giver.professional_qualification_html.html_safe

                  %span.subHeader Approx Travel Distance
                  %b= "#{care_giver.approximate_travel_distance} KM's"
                .col-md-3.pull-right
                  %span.subHeader Charges
                  %header-lg= care_giver.total_charge
            .col-md-11
              %div{:class => "collapse", :id => "collapse_#{index}"}
                .panel.panel-default
                  .panel-body
                    .row
                      .col-md-4
                        .subHeader-inline Services
                        = care_giver.services_html.html_safe
                      .col-md-3
                        .subHeader-inline Language Profficiency
                        = care_giver.languages_html.html_safe
                      .col-md-3
                        .subHeader-inline Education
                        = care_giver.education_details_html.html_safe
                        .subHeader-inline ID Type
                        %ul.list1
                          %li
                            %i.fa.fa-chevron-circle-right
                            = care_giver.id_proof_type
.row
  .col-md-offset-11
  - if @active_associated_enrollments.count > 0
    = form_tag update_leave_of_cg_care_giver_master_path(@care_giver_master) do
      = hidden_field_tag :care_giver_master_id, @care_giver_master.id
      = submit_tag "Replace All", :class => "btn btn-success"
