.row
  .col-md-5
    %table.table-list
      %thead
        %th{:colspan => 2}
          Patient Details
      %tbody
        - @enrollment.each do |x|
          - p @enrollment
          %tr
            %th Name
            //%td= x.patient.name 
          -# %tr
  -#           %th Age 
  -#           %td= @enrollment.patient.age
  -#       %tr
  -#         %th Gender
  -#         %td= @enrollment.patient.gender
  -#       %tr
  -#         %th Complere address
  -#         %td= @enrollment.patient.address_str 
  -#       %tr
  -#         %th Mobile
  -#         %td= @enrollment.patient.mobile_no
  -#       %tr
  -#         %th Alternate No
  -#         %td= @enrollment.patient.alternate_contact_no
  -# .col-md-1
  -# .col-md-5
  -#   %table.table-list
  -#     %thead
  -#       %th{:colspan => 2}
  -#         Patient Next Kin Details
  -#     %tbody
  -#       %tr
  -#         %th Name
  -#         %td= @enrollment.patient.guardian.name 
  -#       %tr
  -#         %th Relation with patient
  -#         %td= @enrollment.patient.guardian.relation  
  -#       %tr
  -#         %th Age
  -#         %td= @enrollment.patient.guardian.age  
  -#       %tr
  -#         %th Gender
  -#         %td= @enrollment.patient.guardian.gender  
  -#       %tr
  -#         %th Complete address
  -#         %td= @enrollment.patient.guardian.address_str
  -#       %tr
  -#         %th Mobile
  -#         %td= @enrollment.patient.guardian.mobile_no  
  -#       %tr
  -#         %th Alternate No
  -#         %td= @enrollment.patient.guardian.alternate_contact_no  
          
  -# .col-md-10
  -#   %table.table-list
  -#     %tr
  -#       %th Email For Official Communication
  -#       %td= @enrollment.email_for_official_comminication
  -#       %th Primary Contact
  -#       %td= @enrollment.primary_contact
