%h3
  - if @valid_age == false
  	
    %p Your age should be greater than #{CareGiverMaster::ELIGIBLE_AGE}
  - if @invalid_qualification == true
    %p Your Qualification not eligible
  %p Thank you for your interest
  %p -LifeCircle
