%br
.container
  .row
    .pull-right
      - if current_user.role == 'l_c_agent'
        = link_to "Details", "/care_giver_masters/#{@care_giver_master.id}/care_giver_additional_details#/new_physical_description/#{@care_giver_master.id}", :class => "btn btn-primary"
        = link_to "Edit",  primary_registraion_care_giver_master_path(@care_giver_master), :class => "btn btn-primary"
    .pull-left
      = link_to "Back", :back, :class => 'btn btn-primary' 
  %br
  .row 
    %section.col-md-4
      %h3
        %p= "Name: #{@care_giver_master.name}"
        %p= "Gender: #{@care_giver_master.gender }"
        %p= "Father Name: #{@care_giver_master.father_name}"
        %p= "Mother Name: #{@care_giver_master.mother_name}"
    %section.col-md-5
      - if @care_giver_master.profile_pic.present?
        = image_tag @care_giver_master.profile_pic.thumb.url, :class => "img-rounded"
      - else
        = image_tag "/uploads/default/thumb_user.png", :class => "img-rounded"
  %table.table-list
    %thead
      %th Place Of Birth
      %th Date Of Birth
      %th Maritual Status
      %th Languaes Known
    %tbody
      %tr
        %td= @care_giver_master.place_of_birth
        %td= @care_giver_master.dob
        %td= @care_giver_master.maritual_status
        %td= @care_giver_master.languages
      %h3 Proofs
  %table.table-list
    %thead
      %th ID Proof No
      %th ID Proof Type
      %th ID Proof Doc
      %th ID Proof Verified?
      %th Address Proof ID
      %th Address Proof Type
      %th Address Proof Doc
      %th Address Proof Verified?
    %tbody
      %tr
        %td= @care_giver_master.id_proof_no
        %td= @care_giver_master.id_proof_type
        %td= link_to "view", @care_giver_master.id_proof_doc_url, :target => "_blank"
        %td= @care_giver_master.id_proof_verified?
        %td= @care_giver_master.address_proof_id
        %td= @care_giver_master.address_proof_type
        %td= link_to "view", @care_giver_master.address_proof_doc_url, :target => "_blank"
        %td= @care_giver_master.address_proof_verified?
  %h3 Address
  %table.table-list
    %thead
      %td Line1
      %td Line2
      %td Area
      %td City
      %td State
      %td Country
      %td PIN Code
    %tbody
      %tr
        %td= @care_giver_master.try(:address).try(:line1)
        %td= @care_giver_master.try(:address).try(:line2)
        %td= @care_giver_master.try(:address).try(:area)
        %td= @care_giver_master.try(:address).try(:city)
        %td= @care_giver_master.try(:address).try(:state)
        %td= @care_giver_master.try(:address).try(:country)
        %td= @care_giver_master.try(:address).try(:pin_code)
  %h3 Services
  %table.table-list
    %thead
      %td 
        = @care_giver_master.services
  %br
  .row
    - if @active_associated_enrollments == nil
    - else	
      %h3 Active Enrollments
      %hr
        %table.table.table-list
          %thead
            %th S.No
            %th Name
            %th Age
            %th Gender
            %th Address
            %th Mobile
            %th Start Date
            %th End Date
            %th Is Open Term
          %tbody
            - @active_associated_enrollments.each_with_index do |enrollment, index|
              %tr
                %td= (index+1)
                %td= link_to enrollment.patient.name , enrollment, :target => "_blank"
                %td= enrollment.patient.age
                %td= enrollment.patient.gender
                %td= enrollment.patient.address_str 
                %td= enrollment.patient.mobile_no
                %td= enrollment.enquiry.service_required_from
                %td= enrollment.enquiry.service_required_to
                %td= enrollment.enquiry.open_term.to_s.titleize

