%h2
  %center
    #{@role} Ticketing System
.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.container{:ng_controller => "TicketconversationController", :ng_init => "loadTicketconversations(#{@ticket_id})"}
  .row
    %br
    .col-md-24
      .panel.panel-default
        .panel-heading
          %span.fa.fa-comments.fa-lg
            Conversation with #{@name}
          %h5{:style => "margin-top: -25px; margin-bottom: 0px; margin-left: 614px;"}
            %label.pull-right.label{:ng_class => "labelClasses[parent_tag]", :ng_show => "parent_tag"} {{parent_tag}}
          -# .pull-right
          -#   %h4
          -#     %label.label{:ng_class => "labelClasses[parent_tag]", :ng_show => "parent_tag"} {{parent_tag}}
        .panel-body{:style => "max-height:150px; overflow-y: auto;"}
          %ul.chat
            %li.right.clearfix{:ng_repeat => "conversation in ticketconversations"}
              .chat-body.clearfix
                %p
                  {{conversation.description}}
                  %label.label{:ng_class => "labelClasses[conversation.tag]", :ng_show => "conversation.tag"} {{conversation.tag}}
                .header
                  %strong.primary-font {{conversation.author_name}}
                  %small.pull-right.text-muted
                    %span.fa.fa-clock-o.fa-lg
                    {{conversation.formated_entered_at}}

        .panel-footer
          .sky-form
            %section
              %label.textarea
                %textarea{:placeholder => "Type your message here...", :type => "text", :ng_model => "ticketconversation.description", :rows => 6}
                %span{:ng_show => "ticketconversation.tag"}
                  %h4 {{ticketconversation.tag}}
            .row
             
               
              .col-md-24
                  

                .col-md-10
                .col-md-1
                  Tag: 
                .col-md-4
                  %label.select
                    %select{:ng_model => "tag", :ng_options => "tag.value as tag.key for tag in ticket_tags| filter:rolefilter('#{current_user.role}')"}
                      %i
                .col-md-3
                  = link_to "Add Tag", "#", :ng_click => "addTag()", :class => "button"
            %footer
              .pull-right
                %button.button{:ng_click => "save()"} Save
                
-# .container{:ng_controller => "EnquiryConversationController", :ng_init => "loadEnquiryConversations('#{@conversation_master_id}', '#{@conversation_master_type}', '#{@care_giver_id}', '#{@cg_status}', '#{@cg_leave_id}', '#{@conversation_for}')"}
-#   .row
-#     .col-md-8
-#       .panel.panel-default
-#         .panel-heading
-#           %span.fa.fa-comments.fa-lg
-#             #{@name} Conversation
-#           .pull-right
-#             %h4
-#               %label.label{:ng_class => "labelClasses[parent_tag]", :ng_show => "parent_tag"} {{parent_tag}}
-#         .panel-body
-#           %ul.chat
-#             %li.right.clearfix{:ng_repeat => "conversation in enquiryConversations"}
-#               .chat-body.clearfix
-#                 %p
-#                   {{conversation.description}}
-#                   %label.label{:ng_class => "labelClasses[conversation.tag]", :ng_show => "conversation.tag"} {{conversation.tag}}
-#                 .header
-#                   %strong.primary-font {{conversation.author_name}}
-#                   %small.pull-right.text-muted
-#                     %span.fa.fa-clock-o.fa-lg
-#                     {{conversation.formated_entered_at}}
                    
-#         .panel-footer
-#           .sky-form
-#             %section
-#               %label.textarea
-#                 %textarea{:placeholder => "Type your message here...", :type => "text", :ng_model => "enquiryConversation.description", :rows => 6}
-#                 %span{:ng_show => "enquiryConversation.tag"}
-#                   %h4 {{enquiryConversation.tag}}
-#             - if params[:conversation_for]
-#               .row          
-#                 %section
-#                   .col-md-5
-#                   .col-md-5
-#                     .col-md-2
-#                       %label.text
-#                         Status: 
-#                     .col-md-6
-#                       %label.select
-#                         %select{:ng_model => "tag", :ng_options => "patient.value as patient.key for patient in patients"}
-#                         %i
-#                     .col-md-4
-#                       = link_to "Add Status", "#", :ng_click => "addTag()", :class => "button"
-#             - elsif params[:care_giver_id]
-#               %br        
-#               .row  
-#                 %section
-#                   .col-md-5
-#                   .col-md-5
-#                     .col-md-2
-#                       %label.text
-#                         Status: 
-#                     .col-md-6
-#                       %label.select
-#                         %select{:ng_model => "cg_status", :ng_options => "stat.value as stat.key for stat in cg_master_status"}
-#                         %i
-#                     .col-md-4
-#                       = link_to "Update", "#", :ng_click => "eqStatus()", :class => "button"
              
-#             - else
-#               .row
-#                 %section
-#                   .col-md-5
-#                   .col-md-5
-#                     .col-md-2
-#                       %label.text
-#                         Tag: 
-#                     .col-md-6
-#                       - if params[:status] == 'Audit'
-#                         %label.select
-#                           %select{:ng_model => "tag", :ng_options => "tag.value as tag.key for tag in audit_tags"}
-#                           %i

-#                       - else
-#                         %label.select
-#                           %select{:ng_model => "tag", :ng_options => "tag.value as tag.key for tag in enquiry_tags"}
-#                           %i
-#                     .col-md-4
-#                       = link_to "Add Tag", "#", :ng_click => "addTag()", :class => "button"
            
-#             .row
-#               %footer
-#                 .pull-right
-#                   %button.button{:ng_click => "save()"} Save
