.col-md-10.col-md-offset-1{:ng_controller => "DrugQuantityController", :ng_init => "loaddrugquantityMasters(#{@enrollment.id})"}
  = link_to "Add new", "#", :ng_click => "newdrugquantitymaster()"
  .row{:ng_show => "drugquantitymaster.isNew"}
    %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
      %fieldset
        .row
          .col-md-6
            %header Patient Details
            .row
              %section.col.col-3
                %label.text
                  SOS/As Needed
              %section.col.col-3
                %label.radio-inline                      
                  %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "SOS"}
                  %span SOS
              %section.col.col-3
                %label.radio-inline
                  %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "AsNeeded"}
                  %span AS Needed                      
            .row
              %section.col.col-6
                %label.input
                  search Drug:
                  -# %input{:type => "text", :name => "name", :placeholder => "Type User Details", "data-autocomplete" => "/auto_search/autocomplete_drug_master_names", :id => "name", "data-id_element" => '#id'}
                  -# %input{:type => "hidden", :id => "#{@id}"}
                  = autocomplete_field_tag :name, '', auto_search_autocomplete_drug_master_names_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
                  = hidden_field_tag :id, :id => "#{@id}"           
              %section.col.col-2
                %label.input
                  %input{:type => "input", :id => "route", placeholder: "Route", :readonly => true}
              %section.col.col-2
                %label.input
                  %input{:type => "input", :id => "form", placeholder: "Form", :readonly => true}
              %section.col.col-2
                %label.input
                  %input{:type => "input", :id => "unit", placeholder: "Unit", :readonly => true}
            .row
              %section.col.col-4
                %label.input
                  %input{:type => "number", placeholder: "Quantity", :ng_model => "drugquantitymaster.quantity", :ng_change => "changeRefillDate(drugquantitymaster.quantity, 0)", :min => 0}              
              %section.col.col-4
                %label.input
                  %input{:type => "number", placeholder: "Dosage", :ng_model => "drugquantitymaster.dose",:ng_change => "changeRefillDate(0, drugquantitymaster.dose)", :min => 0}
              %section.col.col-4
                %label.input
                  %input{:type => "input", :id => "unit", placeholder: "Unit", :readonly => true}
            .row              
              %section.col.col-4
                %label.input
                  %input{:type => "text", :ng_model => "drugquantitymaster.refill_date", :placeholder => "Refill Date", :my_datepicker => ""}
              %section.col.col-4
                %label.input
                  %input{:type => "text", :ng_model => "drugquantitymaster.review_date",:ng_hide => "drugquantitymaster.check",  :placeholder => "Review Date", :my_datepicker => "", :required => true}     
              %section.col.col-4
                %label.checkbox-inline{:ng_hide => "drugquantitymaster.sos == 'SOS'"}
                  %input{:type => "checkbox", :ng_model => "drugquantitymaster.check"}
                  %sapn Life Long
            .row
              .pull-right
                = link_to "save", "#", :ng_click => "save(id)"

            
            
          .col-md-1
          .col-md-4
            %header Time of Administration
            %form
              .row{:ng_repeat => "slot in drugquantitymaster.slots"}
                %section.col.col-3
                  %label.input
                    %input{"ng-model" => "slot.time1", :onFocus => "getTimepicker(this)", :placeholder => "Time1", :type => "text"}/
                %section.col.col-3
                  %label.input
                    %input{"ng-model" => "slot.time2", :onFocus => "getTimepicker(this)", :placeholder => "Time2", :type => "text"}/
                %section.col.col-3
                  %label.input
                    %input{"ng-model" => "slot.time3", :onFocus => "getTimepicker(this)", :placeholder => "Time3", :type => "text"}/
                %section.col.col1{"ng-show" => "$index > 0"}
                  %a{:href => "#", "ng-click" => "removeTimeSlot($index)", :title => "close"}
                    %i.fa.fa-close.fa-lg
              .row
                .pull-right
                  %a.button{:href => "#", "ng-click" => "addMoreSlot()"} add More              
                  
             

            
        -# %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "SOS"} &nbsp; SOS
        -# %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "AsNeeded"} &nbsp; As Needed
        -# %br
        -# = autocomplete_field_tag :name, '', auto_search_autocomplete_drug_master_name_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
        -# = hidden_field_tag :id, :id => "#{@id}"
        -# %input{:type => "input", :id => "route", placeholder: "Route", :readonly => true}
        -# %input{:type => "input", :id => "form", placeholder: "Form", :readonly => true}
        -# %input{:type => "input", :id => "unit", placeholder: "Unit", :readonly => true}
        -# %br
        -# %input{:type => "input", placeholder: "Quantity", :ng_model => "drugquantitymaster.quantity"}
        -# %br
        -# %br
        -# %time_slot_renderer{:slots => "availabilities.mon.availabilities"}
        -# %time_of_administration{:slots => "drugquantitymaster.time"}
        -# %br
        -# %input{:type => "input", placeholder: "Dosage", :ng_model => "drugquantitymaster.dose", :ng_hide =>  "drugquantitymaster.check"}
        -# %br
        -# %input{:type => "checkbox", :ng_model => "drugquantitymaster.check", :ng_show => "drugquantitymaster.sos == 'AsNeeded'"}
        -# %sapn{:ng_show => "drugquantitymaster.sos == 'AsNeeded'"}Life Long
        -# %br
        -# %input{:type => "text", :ng_model => "drugquantitymaster.review_date", :placeholder => "Review Date", :my_datepicker => "", :required => true}
        -# %br
        -# %input{:type => "text", :ng_model => "drugquantitymaster.refill_date", :placeholder => "Refill Date", :my_datepicker => "", :required => true} 
        -# = link_to "save", "#", :ng_click => "save(id)"
        -# %button.button{:type => "submit"} Next
  %br
  %table.table-list
    %thead
      %th Drug
      %th Quantity
      %th Dosage
      %th Review Date
      %th Refill Date
      %th SOS/AsNeeded
      %th Activity
    %tbody
      %tr{"ng-repeat" => "drugquantitymaster in drugquantitymasters"}
        %td {{drugquantitymaster.drug_name}}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.quantity}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.quantity", :ng_show => "drugquantitymaster.edit"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.dose}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.dose", :ng_show => "drugquantitymaster.edit"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.review_date}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.review_date", :placeholder => "Review Date", :my_datepicker => "", :ng_show => "drugquantitymaster.edit"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.refill_date}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.refill_date", :placeholder => "Review Date", :my_datepicker => "", :ng_show => "drugquantitymaster.edit"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.sos}}"
          %input{:name => "sos{{$index}}", :type => "radio", :ng_model => "drugquantitymaster.sos", :ng_show => "drugquantitymaster.edit", "ng-value" => "SOS"}
          %span{:ng_show => "drugquantitymaster.edit"} SOS
          %input{:name => "sos{{$index}}", :type => "radio", :ng_model => "drugquantitymaster.sos", :ng_show => "drugquantitymaster.edit", "ng-value" => "AsNeeded"}
          %span{:ng_show => "drugquantitymaster.edit"} As Needed
        %td
          = link_to "Edit", "#", :ng_click => "edit(drugquantitymaster)", :ng_hide => "drugquantitymaster.edit"
          = link_to "Update", "#", :ng_click => "update(drugquantitymaster)", :ng_show => "drugquantitymaster.edit"
          = link_to "Delete", "#", :ng_click => "destroy(drugquantitymaster)"


-# -# = form_tag enrollment_drug_quantity_masters_path, :method => 'get' , :class => "form-inline" do
-# -#        .row
-# -#          .col-sm-6
-# -#            = autocomplete_field_tag :name, '',autocomplete_drug_masters_name_drug_masters_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
-# -#            = hidden_field_tag :id, :id => "id"
-# -#      %form
-# -#        = autocomplete_field_tag :name, '',:class => 'form-control', :data_autocomplelte => 'autocomplete_drug_masters_name_drug_masters_path'
-#    %input{:type => "input", :as => :autocomplete, :data_autocomplelte => 'autocomplete_drug_masters_name_drug_masters_path', placeholder: "Name", :ng_model => "drugquantitymaster.drug_name"}
-# %span New Drug     
-#     %input{:type => "input", placeholder: "Name", :ng_model => "drugquantitymaster.drug_name"}
-#     %input{:type => "hidden", :name => "drug_name", :value => "drug_name"}/
-#     %input{:type => "input", placeholder: "Quantity", :ng_model => "drugquantitymaster.quantity"}
-#     = link_to "save", "#", :ng_click => "save()"
