.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}RouteMasters
  .row{:ng_controller => "RouteController", :ng_init => "loadRoutes()"}
    = link_to "Add new", "#", :ng_click => "newRoute()", :class => 'btn btn-primary'
    .row{:ng_show => "route.isNew"}
      %span New Route 
      %input{:type => "input", :ng_model => "route.name"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %br
    %table.table.table-list
      %thead
        %th Route
        %th Action
      %tbody
        - @routes.each do |x|
          %tr
            %td= x.name
            %td
              = link_to "Edit",edit_route_master_path(x)
              = link_to "Delete", route_master_path(x), :data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
        
              
