= form_for @care_giver_equipment do |f|
  - if @care_giver_equipment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@care_giver_equipment.errors.count, "error")} prohibited this care_giver_equipment from being saved:"
      %ul
        - @care_giver_equipment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
