%h1 Listing care_giver_equipments

%table
  %thead
    %tr
      %th Name
      %th Status
      %th
      %th
      %th

  %tbody
    - @care_giver_equipments.each do |care_giver_equipment|
      %tr
        %td= care_giver_equipment.name
        %td= care_giver_equipment.status
        %td= link_to 'Show', care_giver_equipment
        %td= link_to 'Edit', edit_care_giver_equipment_path(care_giver_equipment)
        %td= link_to 'Destroy', care_giver_equipment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Care giver equipment', new_care_giver_equipment_path
