.row{:ng_init => "newAvailability()"}
  %form#sky-form.sky-form{:name=>"careGiverForm", :ng_submit => "save()", :novalidate => ""}
    .row
      .col-md-2
      .col-md-15
        %table.table.table-list
          %tbody
            %tr
              %th 
                %input{:type => "checkbox", :ng_model => "availabilities.all.enabled" , :ng_click => 'all()'}
                All
              %td
                %div{:ng_show => "availabilities.all.enabled"}
                  %input{:type => "checkbox", :ng_model => "Anytime" , :ng_click => "mark()"}Any time
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.mon.enabled"}
                Mon
              %td
                %div{:ng_show => "availabilities.mon.enabled"}
                  %time_slot_renderer{:slots => "availabilities.mon.availabilities"}
            %tr
              %th
                %input{:type => "checkbox" , :ng_model => "availabilities.tue.enabled"}
                Tue
              %td
                %div{:ng_show => "availabilities.tue.enabled"}
                  %time_slot_renderer{:slots => "availabilities.tue.availabilities"}
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.wed.enabled"}
                Wed
              %td
                %div{:ng_show => "availabilities.wed.enabled"}
                  %time_slot_renderer{:slots => "availabilities.wed.availabilities"}
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.thu.enabled"}
                Thu
              %td
                %div{:ng_show => "availabilities.thu.enabled"}
                  %time_slot_renderer{:slots => "availabilities.thu.availabilities"}
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.fri.enabled"}
                Fri
              %td
                %div{:ng_show => "availabilities.fri.enabled"}
                  %time_slot_renderer{:slots => "availabilities.fri.availabilities"}
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.sat.enabled"}
                Sat
              %td
                %div{:ng_show => "availabilities.sat.enabled"}
                  %time_slot_renderer{:slots => "availabilities.sat.availabilities"} 
            %tr
              %th
                %input{:type => "checkbox", :ng_model => "availabilities.sun.enabled"}
                Sun
              %td
                %div{:ng_show => "availabilities.sun.enabled"}
                  %time_slot_renderer{:slots => "availabilities.sun.availabilities"}

        %footer{:style => ''}
          .pull-right
            %br
            %button.button{:type => "submit"} Next

