.col-md-24
  %table.table.table-list
    %tr
      %th Physical Description 
      %td 
        %span.label{:ng_class => "{'label-success': approvals.physical_description_approved, 'label-danger': approvals.physical_description_approved != true}"} 
          %span{:ng_show => "approvals.physical_description_approved"} Approved
          %span{:ng_hide => "approvals.physical_description_approved"} Not Approved

    %tr
      %th Relatives
      %td
        %span.label{:ng_class => "{'label-success': approvals.relatives_approved, 'label-danger': approvals.relatives_approved == false }"} 
          %span{:ng_show => "approvals.relatives_approved"} Approved
          %span{:ng_hide => "approvals.relatives_approved"} Not Approved


    %tr
      %th Education
      %td
        %span.label{:ng_class => "{'label-success': approvals.education_approved, 'label-danger': approvals.education_approved == false}"} 
          %span{:ng_show => "approvals.education_approved"} Approved
          %span{:ng_hide => "approvals.education_approved"} Not Approved



    %tr
      %th Employers
      %td
        %span.label{:ng_class => "{'label-success': approvals.employers_approved, 'label-danger': approvals.employers_approved != true }"} 
          %span{:ng_show => "approvals.employers_approved"} Approved
          %span{:ng_hide => "approvals.employers_approved"} Not Approved


    %tr
      %th Health and Lifestyle
      %td
        %span.label{:ng_class => "{'label-success': approvals.health_approved, 'label-danger': approvals.health_approved != true}"} 
          %span{:ng_show => "approvals.health_approved"} Approved
          %span{:ng_hide => "approvals.health_approved"} Not Approved

    %tr
      %th Services
      %td
        %span.label{:ng_class => "{'label-success': approvals.services_list_approved, 'label-danger': approvals.services_list_approved == false }"} 
          %span{:ng_show => "approvals.services_list_approved"} Approved
          %span{:ng_hide => "approvals.services_list_approved"} Not Approved

   
  

    %tr
      %th Charges
      %td
        %span.label{:ng_class => "{'label-success': approvals.charges_approved, 'label-danger': approvals.charges_approved == false }"} 
          %span{:ng_show => "approvals.charges_approved"} Approved
          %span{:ng_hide => "approvals.charges_approved"} Not Approved
.col-md-12
  .col-md-3
  .col-md-4
    %a{:ng_show => "allApproved", :href => "#", :class => "btn btn-success"} Approved
    %a{:ng_hide => "allApproved", :href => "#", :class => "btn btn-danger"} Not Approved
