%form#sky-form.sky-form{:name=>"careGiverEducationForm", :ng_submit => "updateCGStay()", :novalidate => ""}
  %div{:ng_class => "{ 'alert alert-success': updateStatus == true, 'alert alert-danger': updateStatus == false}"} {{updateStatusMsg}}
  %header Caregiver Stay
  %fieldset
    %section
      %label.label.col.col-4 Stay Type
      .col.col-8
        %label.select
          %select{:name => "jobType", :ng_options => "job_type for job_type in job_types", :ng_model => "jobType", :ng_required => true}
          %i

  %footer
    .pull-right
      .col.col-6
        %button.button{:type => "submit"} Save
