#example-2-tab-7.tabs-panel2
  .reg_form{:ng_show => "care_giver_charge"}
    %form#sky-form.sky-form{:name=>"careGiverChargesForm", :ng_submit => "save()", :novalidate => ""}
      %header Caregiver Charges
      %fieldset
        %section
          %label.label.col.col-4 Basic Charge per Day
          .col.col-8
            %label.input
              %input{:placeholder => "Basic Charge", :type => "number", :ng_model => "care_giver_charge.base_charge"}
        %br
        %section
          %label.label.col.col-4 Margin
          .col.col-4
            %label.input
              %input{:placeholder => "Margin %", :type => "number", :ng_model => "care_giver_charge.margin", :ng_blur => "calculateTotal()"}
          .col.col-4
            %label.select
              %select{:ng_model => "care_giver_charge.margin_type", :ng_options => "option.value as option.key for option in options", :ng_change => "calculateTotal()"}
                
              
        %br
        %section
          %label.label.col.col-4 Total
          .col.col-8
            %label.input
              %input{:placeholder => "Total", :type => "text", :ng_model => "care_giver_charge.total_charge"}
              (Transport Charges are not included)
      %footer
        .pull-right
          .col.col-6
            %button.button{:type => "submit"} Next
          .col-md-2{:ng_show => "care_giver_charge.id"}
            %center{:ng_show => "$parent.isAdmin()"}
              %a{:href => "#", :class => "button", :ng_click => "approve(care_giver_charge)", :ng_disabled => "care_giver_charge.approved"} 
                %span{:ng_hide => "care_giver_charge.approved"} Approve
                %span{:ng_show => "care_giver_charge.approved"} Approved
        -# .col-md-1
        -# .col-md-2
        -#   %a{:href => "#", :class => "button", :ng_click => "finish_enquiry()" } 
        -#     %span{:ng_hide => "charge.finished"} Finish
        -#     %span{:ng_show => "charge.finished"} Finished          
