.container
  .content_fullwidth
    .login_form
      %form{:id => "enquiry_type_form", :name => "enquiryTypeForm", :class => "sky-form", :ng_submit => "submit_enquiry_type()"}
        %fieldset
          %section
            %label.select
              %select{:name => "mentioned_registration_type", :ng_options => "r_type.key as r_type.value for r_type in registration_types", :ng_change => "fetchAreas(city.id)", :ng_model => "enquiry.mentioned_registration_type"}
          %section{:ng_show => "enquiry.mentioned_registration_type == 'CALL_ME'"}
            %label.input
              %input{:type => "text", :ng_model => "enquiry.refered_mobile_no", :placeholder => "Mobile No"}
        %footer
          %button{:type => "Submit", :class => "button"} Next
