.sky-form
  %form{:name => "LoginForm", :ng_submit => "login()", :novalidate => ""}
    %fieldset
      %section{:ng_show => "error"}
        .error
          .message-box-wrap
            {{error_msg}}
      %section
        %label.input
          %i.icon-append.icon-user
          %input{:type => "text", :name => "login", :ng_model => "user.user_name", :placeholder => "User Name"}
      %section
        %label.input
          %i.icon-append.icon-lock
          %input{:type => "password", :name => "login", :ng_model => "user.password", :placeholder => "Password"}
          .note
            %a.modal-opener{:href => "#/forgot_password"} Forgot password?
      %section
        .row
          .col.col-4
          .col.col-8
            %label.checkbox
              %input{:type => "checkbox", :name => "login", :ng_model => "user.remember_me"}
              %i
              Keep me logged in
    %footer
      .col-md-4
        %a.button{:ui_sref => "appointment.registration"} Register
      .col-md-1
      .col-md-3
        %input{:type => "submit", :class => "button", :value => "Login & Book"}
        
