.sky-form{"ng-controller" => "RegistrationController"}
  %form{:name => "RegistrationForm", :ng_submit => "register()", :novalidate => ""}
    %fieldset
      %section{:ng_show => "error"}
        .error
          .message-box-wrap{:ng_bind_html => "error_msg"}

      %input{:type => "hidden", :ng_model => "user.role", :ng_value => "patient"}
      %section
        %label.input
          %input{:type => "text", :name => "login", :ng_model => "user.first_name", :placeholder => "Name"}

      %section
        %label.input
          %i.icon-append.icon-envelope-alt
          %input{:type => "text", :name => "email", :ng_model => "user.email", :placeholder => "Email"}
      %section
        %label.input
          %i.icon-append.icon-phone
          %input{:type => "text", :name => "mobile_no", :ng_model => "user.mobile_no", :placeholder => "Mobile No"}
      %section
        %label.input
          %i.icon-append.icon-user
          %input{:type => "text", :name => "mobile_no", :ng_model => "user.user_name", :placeholder => "User Name", :ng_blur => "validateUser(user.user_name)"}
          %span{:ng_show => "invalidUserIcon == 'show'"} Not Valid
          %span{:ng_show => "invalidUserIcon == 'hide'"} Valid
          %span{:ng_show => "invalidUserName"} User Name Already Exists
      %section
        %label.input
          %i.icon-append.icon-lock
          %input{:type => "password", :name => "password", :ng_model => "user.password", :placeholder => "Password"}
      %section
        %label.input
          %i.icon-append.icon-lock
          %input{:type => "password", :name => "password_confirmation", :ng_model => "user.password_confirmation", :placeholder => "Confirm Password"}
          %b.tooltip.tooltip-bottom-right Don't forget your password
      %section
        %label.select
          %i.icon-append.icon-select
          %select{:ng_model => "user.registered_by", :ng_options => "registrar.value as registrar.key for registrar in registrars"}
    %footer
      %input{:type => "submit", :class => "button", :value => "Sign up"}
