%section#inner-page
  .container-fluid.search-result
    .row
      .col-md-24
        #MainMenu
          .list-group.panel
            %h5 MODIFY CRITERIA
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#services-menu"} Services
            #services-menu.collapse
              .list-group-item{:ng_repeat => "service in enquiry.services"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned"}
                    {{service.service}}
                
          
          
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#gender"} Gender
            #gender.collapse
              .list-group-item
                %label
                  %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE"} Male
              .list-group-item
                %label
                  %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE"} Female
              .list-group-item
                %label
                  %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY"} No Preference
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#caregiver-stay"} Caregiver Stay
            #caregiver-stay.collapse
              .list-group-item
                %label
                  %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN"} 
                  Live In
              .list-group-item
                %label
                  %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT"}
                  Live Out
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#languages"} Languages
            #languages.collapse
              .list-group-item{:ng_repeat => "language in enquiry.languages"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :name => "language_{{$index}}", :ng_model => "language.assigned"}
                    {{language.language}}
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#affordable-price"} Budget
            #affordable-price.collapse
              %select{:ng_model => "enquiry.affordable_price", :ng_options => "value as value.key for value in price_ranges" , :style => "width:80%;"}
                
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#date"} Date
            #date.collapse
              %section.col.col-6
                %label.input
                  %input{:type => "text", :ng_model => "enquiry.service_required_from", :my_datepicker => "", :placeholder => "Date From"}
              %section.col.col-6
                %label.input{:ng_hide => "enquiry.open_term == true || enquiry.open_term == 'true'"}
                  %input{:type => "text", :ng_model => "enquiry.service_required_to", :class => "datepicker", :placeholder => "Date To", :my_datepicker => ""}
                %input{:type => "checkbox", :ng_model => "enquiry.open_term"} Long Term
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#time-slot" , :ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"} Time Slots
            #time-slot.collapse
              %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'", :slots => "enquiry.requested_time_slots", :invalidTimeSlot => false}
              
              
              
-# .accrodation
-#   %h4.green_color{:style => 'text-align:center; margin-bottom:0px'} modify your search
-#   %span.acc-trigger.active
-#     %a{:href => "#"} Services
-#   .acc-container
-#     .content
-#       .row{:ng_repeat => "service in enquiry.services"}
-#         %section

-#           %label.checkbox
-#             %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned"}
-#             &nbsp;
-#             {{service.service}}

-#   %span.acc-trigger
-#     %a{:href => "#"} Gender Required
-#   .acc-container
-#     .content
-#       .row
-#         %section
-#           %label
-#             %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE"}
-#             %span Male
-#       .row
-#         %section
-#           %label
-#             %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE"}
-#             %span Female
-#       .row
-#         %section
-#           %label
-#             %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY"}
-#             %span Any

-#   %span.acc-trigger
-#     %a{:href => "#"} Caregiver stay
-#   .acc-container
-#     .content
-#       .row
-#         %section
-#           %label
-#             %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN", :name => "caregiver_stay"}
-#             %span Live In
-#       .row
-#         %section
-#           %label
-#             %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT", :name => "caregiver_stay"}
-#             %span Live Out


-#   %span.acc-trigger
-#     %a{:href => "#"} Languages
-#   .acc-container
-#     .content
-#       .row{:ng_repeat => "language in enquiry.languages"}
-#         %section
-#           %label.checkbox
-#             %input{:type => "checkbox", :name => "language_{{$index}}", :ng_model => "language.assigned"}
-#             &nbsp;
-#             {{language.language}}

-#   %span.acc-trigger
-#     %a{:href => "#"} Affordable price
-#   .acc-container
-#     .content
-#       .sky-form
-#         .row
-#           %section
-#             %label.select
-#               %select{:ng_model => "enquiry.affordable_price", :ng_options => "value as value.key for value in price_ranges"}
-#               %i
-#               %span Per Care Giver

-#   -# %span.acc-trigger
-#   -#   %a{:href => "#"} Approx travel distance
-#   -# .acc-container
-#   -#   .content
-#   -#     .sky-form
-#   -#       .row
-#   -#         %section
-#   -#           %label.input
-#   -#             %input{:type => "number", :ng_model => "enquiry.travel_distance"}

-#   / section 3
  

  
-#   %span.acc-trigger
-#     %a{:href => "#"} Date 
-#   .acc-container
-#     .content
-#       .sky-form
-#         .row
-#           %section.col.col-6
-#             %label.input
-#               %input{:type => "text", :ng_model => "enquiry.service_required_from", :my_datepicker => "", :placeholder => "Date From"}
-#           %section.col.col-6
-#             %label.input{:ng_hide => "enquiry.open_term == true || enquiry.open_term == 'true'"}
-#               %input{:type => "text", :ng_model => "enquiry.service_required_to", :class => "datepicker", :placeholder => "Date To", :my_datepicker => ""}
-#             %input{:type => "checkbox", :ng_model => "enquiry.open_term"} Long Term

-#   %span.acc-trigger{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"}
-#     %a{:href => "#"} Time Slots
-#   .acc-container
-#     .content
-#       .sky-form
-#         .row
-#           .col-md-10
-#             %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'", :slots => "enquiry.requested_time_slots", :invalidTimeSlot => false}
-#   / section 1
 
-#   / section 2
  


.div{:ng_init => "applyAccordian()"}
