.clearfix
.container
  .row{:ng_controller => 'PatientSelfcareAbilitesController',  :ng_init => "newloadSelfcares(#{@enrollment_id})"}
    .col-md-2
    .col-md-10
      %table.table-list.sky-form
        %tr
          %th Ability
          %th Independent
          %th Description
        %tr{"ng-repeat" => "ability in abilities"}
          %td {{ability.name}}
          %td
            %input{:name => "independent{{$index}}", :type => "radio",:ng_model => 'ability.independent', :value => "true"}Independent
            %br
            %input{:name => "independent{{$index}}", :type => "radio",:ng_model => 'ability.independent', :value => "false"}Unable
          %td
            %label.textarea
              = text_area_tag :description, nil, :ng_model => 'ability.description'
            //{{selfcare.selfcare_ability}}
      %input{"ng-click" => "savePatientSelfcareAbilities()", :type => "button", :value => "save"}/
