.col-md-20.sky-form{:ng_controller => "careGiverChargeBucketsController", :ng_init => "loadBuckets()"}
  %center
    %h3
      Caregiver Charge Buckets
  .pull-right
    = link_to "Edit", "/care_giver_charge_buckets/new", :class => "button"
  %table.table.table-list
    %thead
      %th Hours From
      %th Hours To
      %th Percentage
    %tbody
      %tr{:ng_repeat => "charge_bucket in charge_buckets"}
        %td {{charge_bucket.hrs_from}}
        %td {{charge_bucket.hrs_to}}
        %td {{charge_bucket.charge_percentage}} %
