#careGiverListRegion
  padding-top: 2%
#caregiverBlock 
  padding: 10px 0px 7px
  border-bottom: 1px solid #E3E3E3
#caregiverBlock .subHeader-inline
  display: inline
  padding: 0px 0px 7px
  font-size: 14px
  font-weight: bold
  font-family: "Raleway",sans-serif

.subHeader
  display: block
  padding: 0px 0px 7px
  font-size: 14px
  font-weight: bold
  font-family: "Raleway",sans-serif

.subHeader-clr
  display: inline
  padding: 0px 0px 7px
  font-size: 14px
  font-weight: bold
  color: #286E30
  font-family: "Raleway",sans-serif

header-lg 
  display: block
  padding: 0px 0px 9px
  margin-bottom: 7px
  font-size: 20px
  color: #286E30
  font-family: "Raleway",sans-serif
  text-transform: uppercase




#caregiverBlock header 
  display: block
  padding: 0px 0px 5px
  margin-bottom: 0px
  font-size: 14px
  font-weight: bold
  color: #286E30
  font-family: "Raleway",sans-serif
  text-transform: uppercase

#caregiverBlock .btn
  border-radius: 1px
