-# .col-md-10.col-md-offset-1
-#   %form#sky-form.sky-form{:action => "/care_giver_enquiries", :method => "POST", :novalidate => "" }
-#     .row
-#       .col-md-12
-#         %header Patient Details
-#         .col-md-6
-#           .row
-#             %section.col.col-8
-#               %label.input
-#                 = text_field_tag "apt_date", '', :class => "datepicker form-control", :placeholder => "Appointment Date"             
-#         .col-md-1
-#         .col-md-6
-#           .row
-#             %section.col.col-8
-#               %label.input
-#                 = text_field_tag "apt_time", '',:onFocus => "getTimepicker(this)", :class => "form-control", :placeholder => "Appointment Time"       
-#                 = hidden_field_tag :id , params[:id]          
-#           .row
-#             %section.col.col-8
-#               .pull-right                 
-#                 %a.button{:type=>"submit"} Fix Appointment


%form{:action => "/care_giver_enquiries/#{params[:id]}/appointment", :method => "put" }
  - p '1111111111111111'
  - p  params[:id]

  .row
    .col-sm-1
      = label_tag "Appointment Date", nil, :class => "form-label"
    .col-sm-2
      = text_field_tag "apt_date", '', {:class => "form-control"}
    .col-sm-1
      = label_tag "Appointment Time", nil, :class => "form-label"
    .col-sm-2
      = text_field_tag "apt_time", '', {:class => "form-control"}
      = hidden_field_tag :id , params[:id]
    %button{:type=>"submit", :class=> "btn btn-primary" }= "Fix Appointment"
