.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.pull-right
  %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
.container
  %h3{:align => "center"} Recruit List
  .col-md-24
  
    %table#tblData.table.table-list
      %thead
        %th Name
        %th Location
        %th DOB
        %th Phone
        %th Email
        %th Qualification
        %th Gender
        %th Prefered Location
        %th Action
      %tbody
        - @enquiries.each do |care_giver|
          %tr
            %td= care_giver.name
            %td= care_giver.location
            %td= care_giver.dob
            %td= care_giver.phone
            %td= care_giver.email
            %td= care_giver.highest_qualification
            %td= care_giver.gender
            %td= care_giver.city
            %td
              = link_to raw("<i class='fa fa-check fa-lg'></i>"), dispatch_cg_from_recruit_list_care_giver_enquiry_path(care_giver), :title => "Show", :class => "button"
              = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => care_giver.id, :conversation_master_type => "CareGiverEnquiry", :conversation_for => "CareGiverEnquiry", :name => care_giver.name), :title => "Conversation"
 

.col-md-11
  = render "care_giver_close_modal"
