%section#inner-page
  .container
    .row
      
      .col-md-24
        .row.confirmation
          %h3.stage-titles THANKS FOR YOUR INTEREST, YOUR DETAILS ARE
          .col-md-4
          .col-md-18
            %table.table
              %tr
                %td Name
                %td Email
                %td Mobile Number
              %tr
                %td= @enquiry.name
                %td= @enquiry.email
                %td= @enquiry.phone

                        
     
  .container{:style => "margin-top:30px;"}
    .row
      .col-md-3
      .col-md-18
        .row
          .col-md-8
          .col-md-8
          .col-md-8
            %a{:href => "/care_giver_enquiries/new", :class => 'btn btn-primary'} Book Another Enquiry
            //%a{:href => root_path , :class => 'btn btn-primary'} Home
      .col-md-3
            
