= render :partial => "shared/page_title", :locals => {:title => "Thank you for your interest"}

.container
  .content_fullwidth
    .login_form
      = form_for @new_city_request, :html => {:class => "sky-form"} do |f|
        %fieldset
          %section
            %label.input
              %i.icon-append.home
              = f.text_field :city, :placeholder => "City"
          %section
            %label.input
              %i.icon-append.home
              = f.text_field :area, :placeholder => "Area"
          %section
            %label.input
              %i.icon-append.icon-envelope-alt
              = f.email_field :email, :placeholder => "Email address"
          %section
            %label.input
              %i.icon-append.icon-phone
              = f.text_field :mobile_no, :placeholder => "Phone Number", :type => "tel"
        %footer
          .fright
            = f.submit "Send", :class => "button"


