.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Drug Masters
  .row{:ng_controller => "DrugController", :ng_init => "loaddrugMasters()"}
    = link_to "Add new", "#", :ng_click => "newdrugMaster()", :class => 'btn btn-primary'
    %br
    .row{:ng_show => "drugmaster.isNew"}
      %span New Drug
      %input{:type => "input", placeholder: "Name", :ng_model => "drugmaster.name"}
      %select{:ng_model => "drugmaster.route_master_id", :ng_options => "option.id as option.name for option in route_masters"}
      %select{:ng_model => "drugmaster.form_master_id", :ng_options => "option.id as option.name for option in form_masters"}
      %select{:ng_model => "drugmaster.unit_master_id", :ng_options => "option.id as option.name for option in unit_masters"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %br
    %table.table.table-list
      %thead
        %th Drug
        %th Route
        %th Form
        %th Unit
        %th Action
      %tbody
        %tr{"ng-repeat" => "drugmaster in drugmasters"}
          %td
            %sapn{:ng_hide => "drugmaster.edit"}= "{{drugmaster.name}}"
            %input{:type => "text", :ng_model => "drugmaster.name", :ng_show => "drugmaster.edit"}
          %td
            %sapn{:ng_hide => "drugmaster.edit"}= "{{drugmaster.route_name}}"
            %select{:ng_model => "drugmaster.route_master_id",:ng_show => "drugmaster.edit", :ng_options => "option.id as option.name for option in route_masters"}
          %td
            %sapn{:ng_hide => "drugmaster.edit"}= "{{drugmaster.form_name}}"
            %select{:ng_model => "drugmaster.form_master_id",:ng_show => "drugmaster.edit", :ng_options => "option.id as option.name for option in form_masters"}
          %td
            %sapn{:ng_hide => "drugmaster.edit"}= "{{drugmaster.unit_name}}"
            %select{:ng_model => "drugmaster.unit_master_id",:ng_show => "drugmaster.edit", :ng_options => "option.id as option.name for option in unit_masters"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(drugmaster)", :ng_hide => "drugmaster.edit"
            = link_to "Update", "#", :ng_click => "update(drugmaster)", :ng_show => "drugmaster.edit"
            = link_to "Delete", "#", :ng_click => "destroy(drugmaster)"
