= form_for @email, :html => {:class => "form-horizontal" , :role => "form"} do |f|
  .row
    .col-md-4.col-xs-12
      = f.label "Name"
    .col-md-12.col-xs-12
      = f.text_field :name , :class => 'form-control'
  %br
  .row
    .col-md-4.col-xs-12
      = f.label "Email Text"
    .col-md-16.col-xs-12
      = f.text_area :text1 ,as: :wysihtml5, :class => 'form-control wysiHtml5textarea'
  %br
  .row
    .col-md-4.col-xs-12
      = f.label "SMS Text"
    .col-md-16.col-xs-12
      = f.text_area :text2 ,as: :wysihtml5, :class => 'form-control wysiHtml5textarea'
  .row
    .col-md-4.col-xs-12
      = f.label "ID"
    .col-md-16.col-xs-12
      =  f.select(:template_text_id, TemplateText.all.map{|r| [r.id, r.id]},:include_blank=> "Select")
 
  .row
    %center
      = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
