= form_for @email, :html => {:class => "form-horizontal" , :role => "form"} do |f|
  %h2 Edit
  .row
    .col-md-24
      %center
        //= f.text_field :name , :class => 'form-control'
      //= image_tag "logo.jpg", :class => "img-rounded"
      %b
        = @template.sms1 
      
      %br
      %br
      .row
        .col-md-4.col-xs-24
          = f.label "SMS Text"
        .col-md-16.col-xs-24
          = f.text_area :text2 , as: :wysihtml5, :class => 'form-control wysiHtml5textarea'
      %br
      .row
        = @template.sms2
        %br
        = @template.sms3
        %br
        = @template.sms4
        %br
        = @template.sms5
        %br
        = @template.sms6
      .row
        %center
          = button_tag "Save", :type => "submit", :class => 'btn btn-primary' , :name =>  "sms", :value =>  "sms"
      //= render 'form'
