= form_for @email, :html => {:class => "form-horizontal" , :role => "form"} do |f|
  %h5 Edit 
  .row

    .col-md-24
      %center
        //= f.text_field :name , :class => 'form-control'
      //= image_tag "logo.jpg", :class => "img-rounded"
      %b
        = @template.text1 
      %br
      %br
      .row
        .col-md-4.col-xs-12
          = f.label "Email Text"
        .col-md-16.col-xs-12
          = f.text_area :text1 ,as: :wysihtml5, :class => 'form-control wysiHtml5textarea'
      %br
      .row
        = @template.text2
        %br
        = @template.text3
        %br
        = @template.text4
        %br
        = @template.text5
        %br
        = @template.text6
      .row
        %center
          = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
      //= render 'form'
      
