.pull-left
  = link_to 'Back' , email_templates_path , :class => 'btn btn-primary'
  
%br
%br
%center
  %h3
    %b
      = @email.name
.row

  .col-md-24
    %b
      = @template.sms1 
   
    %br
    %br
    .row
      
      .col-md-16{:style => 'border:solid' }
        %h3
          = @email.text2.try(:html_safe)
      .col-md-2
        = link_to raw("Edit") , edit_sms_email_template_path(@email), :title => "Edit" , :class => 'btn btn-primary'
    %br
    .row
      = @template.sms2
      %br
      = @template.sms3
      %br
      = @template.sms4
      %br
      = @template.sms5
      %br
      = @template.sms6
