%h3 VitalTrends
.clearfix
.container

  .row{:ng_controller => "VitalTrendsController", :ng_init => "loadVitalTrends(#{@enrollment_id})"}
    = link_to "Add new", "#", :ng_click => "newVitalTrend()", :class => 'btn btn-primary'
    .row{:ng_show => "vitaltrend.isNew"} 
      %input{:type => "text", :ng_model => "vitaltrend.date", :placeholder => "Date", :my_datepicker => ""} &nbsp;
      %select{:ng_model => "vitaltrend.key_vitals_master_id", :ng_options => "option.id as option.name for option in key_vitals", :ng_change => "popLimits(vitaltrend.key_vitals_master_id)"} &nbsp;
      %input{:type => "input", placeholder: "Value", :ng_model => "vitaltrend.value"}
      %br
      %input{:type => "input", placeholder: "lower_limit", :ng_model => "vitaltrend.lower_limit"}
      %br
      %input{:type => "input", placeholder: "upper_limit", :ng_model => "vitaltrend.upper_limit"}
      %br
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %br
    %table.table-list
      %thead
        %th Date
        %th Vital
        %th Value
        %th Unit
        %th Upper Limit
        %th Lower Limit
        %th Action
      %tbody
        %tr{"ng-repeat" => "vitaltrend in vitaltrends"}
          %td
            %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.date}}"
            %input{:type => "text", :ng_model => "vitaltrend.date", :placeholder => "Date", :my_datepicker => "", :ng_show => "vitaltrend.edit"}
          %td {{vitaltrend.vital_name}}
          %td
            %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.value}}"
            %input{:type => "text", :ng_model => "vitaltrend.value", :ng_show => "vitaltrend.edit"}
          %td {{vitaltrend.vital_unit}}
          %td
            %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.upper_limit}}"
            %input{:type => "text", :ng_model => "vitaltrend.upper_limit", :ng_show => "vitaltrend.edit"}
          %td
            %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.lower_limit}}"
            %input{:type => "text", :ng_model => "vitaltrend.lower_limit", :ng_show => "vitaltrend.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(vitaltrend)", :ng_hide => "vitaltrend.edit"
            = link_to "Update", "#", :ng_click => "update(vitaltrend)", :ng_show => "vitaltrend.edit"
            = link_to "Delete", "#", :ng_click => "destroy(vitaltrend)"
