:css
  .table-style {
  float: left;
  width: 100%;
  }
  .table-li {
  float: left;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom:15px;
  width: 100%;
  }
  .table-li th {
  padding: 8px 5px;
  background-color: #266A2E;
  color: #fff;
  }
  .table-li td {
  padding: 13px 10px;
  text-align: center;
  background-color: #f5f5f5;
  }
  .table-li tr:hover td {
  background-color: #f9f9f9;
  }
.clearfix
.container
  .col-md-24{:ng_controller => "ReportsController"}
    .row
      %label{:name => "report.balance_report",  :ng_model => "balance_report"} Balance Report
      %select{:name => "report.report_type", :ng_options => "r_type.key as r_type.value for r_type in report_types", :ng_change => "get_dates()", :ng_model => "report.report_type"}
      %input{:type => "input", :ng_model => "report.from_date" , :class => 'datepicker'}
      %input{:type => "input", :ng_model => "report.to_date" , :class => 'datepicker'}
     
      
     
      = link_to "Run Report", "#", :ng_click => "balance_report()" , :class => 'btn btn-primary'
      %br
      .row{:ng_show => 'balanceReport'}
        %center
          .bold
            %h1{:style => 'margin-bottom:10px'}
              Life Circle Health Services Private Limited
            %h2{:style => 'color:#000;margin-bottom:10px;'}
              Customer Balances
            From {{report.from_date}} - {{report.to_date}}
        %br
        .col-md-24
          %table.table.table-list
            %tr
              %th Customer Name
              %th Invoice Balance
              %th Available Credits
              %th Balance
            %tr{:ng_repeat => 'r in reports'}
              %td {{r.name}}
              %td {{r.amount}}
              %td {{r.credits}}
              %td {{r.balance}}
            
            
         
