
:css
  .table-style {
  float: left;
  width: 100%;
  }
  .table-li {
  float: left;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom:15px;
  width: 100%;
  }
  .table-li th {
  padding: 8px 5px;
  background-color: #266A2E;
  color: #fff;
  }
  .table-li td {
  padding: 13px 10px;
  text-align: center;
  background-color: #f5f5f5;
  }
  .table-li tr:hover td {
  background-color: #f9f9f9;
  }

.clearfix
.container
  .col-md-24{:ng_controller => "ReportsController"}
    .row
      %select{:name => "report.report_type", :ng_options => "r_type.key as r_type.value for r_type in report_types", :ng_change => "get_dates()", :ng_model => "report.report_type"}
      %input{:type => "input", :ng_model => "report.from_date" }
      %input{:type => "input", :ng_model => "report.to_date"}
   
      = link_to "Run Report", "#", :ng_click => "get_report()" , :class => 'btn btn-primary'
    %br
    .row{:ng_show => 'myReport'}
      %center
        .bold
          %h1{:style => 'margin-bottom:10px'}
            Life Circle Health Services Private Limited
          %h2{:style => 'color:#000;margin-bottom:10px;'}
            Sales By Customer
          From {{report.from_date}} - {{report.to_date}}
      %br
      .col-md-24
        %table.table.table-list
          %tr
            %th Name
            %th Invoice Count
            %th Sales
            %th Sales with Tax
          %tr{:ng_repeat => 'r in reports'}
            %td {{r.name}}
            %td {{r.count}}
            %td {{r.amount}}
            %td {{r.amount}}
          %tr
            %td Total
            %td
            %td {{total_debit_value}}
            %td {{total_debit_value}}
            
