:css
  .table-style {
  float: left;
  width: 100%;
  }
  .table-li {
  float: left;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom:15px;
  width: 100%;
  }
  .table-li th {
  padding: 8px 5px;
  background-color: #266A2E;
  color: #fff;
  }
  .table-li td {
  padding: 13px 10px;
  text-align: center;
  background-color: #f5f5f5;
  }
  .table-li tr:hover td {
  background-color: #f9f9f9;
  }

.clearfix
.container
  .col-md-24{:ng_controller => "ReportsController"}
    .row
      %select{:name => "report.report_type", :ng_options => "r_type.key as r_type.value for r_type in report_types", :ng_change => "get_dates()", :ng_model => "report.report_type"}
      %input{:type => "input", :ng_model => "report.from_date"}
      %input{:type => "input", :ng_model => "report.to_date"}
      
      = link_to "Run Report", "#", :ng_click => "invoice()" , :class => 'btn btn-primary'
    %br
    .row{:ng_show => 'invoiceReport'}
      %center
        .bold
          %h1
            Life Circle Health Services Private Limited
          %h2
            {{report.type_of_report}}
        From {{report.from_date}} - {{report.to_date}}
      %br
      .col-md-22
        %table.table.table-list
          %tr
            %th Status
            %th Invoice Date
            %th Due Date
            %th Invoice#
            %th PO#
            %th Customer Name
            %th Invoice Amount
            %th Balance Due
          %tr{:ng_repeat => 'r in invoice_details'}
            %td {{r.status}}
            %td {{r.invoice_date}}
            %td {{r.due_date}}
            %td {{r.invoice_no}}
            %td
            %td {{r.name}}
            %td {{r.amount}}
            %td {{r.balance}}
          
            
