%table.table.table-list
  %thead
    %th Patient Name 
    %th Address
    %th Phone
    %th Email
    %th Services Required
    %th CG Specification
    %th Apponintment Time
    %th Status
    %th Action
  %tbody
    - @empty_results.each do |enquiry|
      %tr
        %td= link_to (enquiry.patient_name.present? ? enquiry.patient_name : enquiry.requested_user_name), enquiry
        %td= enquiry.address_str
        %td= enquiry.mobile_no
        %td= enquiry.email
        %td= enquiry.services_str
        %td
        %td= enquiry.appointment_time
        %td= enquiry.current_tag
        %td
          - if enquiry.current_tag == 'To Audit'
            = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => enquiry.id, :conversation_master_type => "Enquiry" , :status => 'Audit', :name => (enquiry.patient_name.present? ? enquiry.patient_name : enquiry.requested_user_name)), :title => "Conversation"
          - else
            = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => enquiry.id, :conversation_master_type => "Enquiry", :status => params[:status], :name => (enquiry.patient_name.present? ? enquiry.patient_name : enquiry.requested_user_name)), :title => "Conversation"
