.container
  
  .row
    .pull-right
      - unless @enquiry.enrolled?
        .col-md-5
          //= link_to raw("<i class='fa fa-close fa-lg'></i> Close"), "#", :onclick => "init_close_enquiry('#{@enquiry.id}', '#{@enquiry.patient_name}')", :title => "Close Enquiry", :class => "button"
        .col-md-6
          - if @enquiry.pre_enquiry?
            = link_to raw("<i class='fa fa-check fa-lg'></i> Add Criteria"), edit_enquiry_path(@enquiry), :title => "Add Criteria", :class => "btn btn-primary"
          - else
            = link_to raw("<i class='fa fa-check fa-lg'></i> Enroll"), "/enquiries/#{@enquiry.id}/enrollments/new", :title => "Enroll", :class => "btn btn-primary"
  
  .row
    .col-md-8
      %h3
        %b
          %p= "Patient Name: #{@enquiry.patient_name.present? ? @enquiry.patient_name : @enquiry.requested_user_name}"
          %p= "Locality: #{@enquiry.address_new}"
        

    %section.col-md-5
  .row
    .col-md-24
      %table.table.table-list
        %thead
          %th Services
          %th Service From 
          %th Service To
          %th Registered By
          %tbody
            %tr
              %td= @enquiry.services_str
              %td= @enquiry.service_required_from
              - if @enquiry.service_required_from.present? and @enquiry.service_required_to.blank?
                %td= "Long Term"
              - else
                %td= @enquiry.service_required_to
                %td= @enquiry.requested_user_name
  .row
    .col-md-12
      %table.table.table-list
        %tbody
          %tr
            %th No Of Caregivers
            %td= @enquiry.no_of_care_givers
          %tr
            %th Require Heavy Patient Lifting?
            - if @enquiry.require_heavy_patient_lifting.present? and @enquiry.require_heavy_patient_lifting == 'true'
              %td= @enquiry.require_heavy_patient_lifting
            - else
              %td= "Not Requiried"
          %tr
            %th Caregiver Stay
            %td= @enquiry.caregiver_stay
          %tr
            %th Language Profficiency
            %td= @enquiry.language_str
          %tr 
            %th Caregiver Gender
            %td= @enquiry.care_giver_gender

    .col-md-12
      - if @enquiry.caregiver_stay == 'LIVE_OUT'
        %table.table-list
          %thead
            %th From Time
            %th To Time
          %tbody
            - if @enquiry.requested_time_slots.present?
              - @enquiry.requested_time_slots.each do |time|
                %tr
                  %td= time.time_from
                  %td= time.time_to
            - else
              %tr
                %td= "NA"
                %td= "NA"

  .row
    %h5 Selected Caregivers
    %table.table.table-list
      - @enquiry.enquiry_care_givers.each do |enquiry_care_giver|
        %tr
        %td{:style => "vertical-align:top;"} 
          = image_tag enquiry_care_giver.care_giver_master.profile_pic.thumb.url
        %td{:style => "vertical-align:top;"} 
          %span.subHeader-clr= enquiry_care_giver.care_giver_master.name
        %td{:style => "vertical-align:top;"}= enquiry_care_giver.care_giver_master.telephone_no
        %td= enquiry_care_giver.care_giver_master.services_html.html_safe
        %td= enquiry_care_giver.care_giver_master.languages_html.html_safe

  - if @enquiry.closed?
    .row
      %table.table.table-list
        %thead
          %th Status
          %th Closed At
          %th Closed By
          %th Comments
        %tbody
          %tr
            %td= @enquiry.status
            %td= @enquiry.closed_at
            %td= @enquiry.closed_by
            %td= @enquiry.closing_comments
= render "enquiry_close_modal"
