= render :partial =>"shared/page_title", :locals => {:title => "Enquiry Step1"}
.clearfix
  .content_fullwidth
    .reg_form
      %form#sky-form.sky-form
        #shwdiv
          %fieldset
            %section
              %label.select
                = select_tag :city, options_for_select(CityMaster.all.map{|city| [city.name, city.id]}+[["Other", nil]])
                %i
            %section
              %label.select
                %select#Area.default{:name => "Area"}
                  %option{:disabled => "", :selected => "", :value => "0"} Area
                  %option{:value => "1"} 1
                  %option{:value => "2"} 2
                  %option{:value => ""} Other
                %i
        %footer
          .pull-right
            %button.button{:type => "submit"} Go
