.clearfix{:style => "padding-top:8px;"}
.container{:ng_controller => "CareGiverBookingsController"}
  .col-md-3
    = render "side_filter_bar"
  .col-md-8
    - @care_giver_masters.each do |care_giver|
      .blog_post
        .blog_postcontent
          .image_frame.small
            = image_tag care_giver.profile_pic.thumb.url, :alt => ""
          .post_info_content_small
            %h3= care_giver.name
            .clearfix
            %p 
              %b Services
              %p= care_giver.services
            %p
              %b Languages Known
              %p= care_giver.languages
            %p
              %b Cost Per Day
              %p= "#{care_giver.expected_sal_per_day} INR"
            .sky-form
              %section.col.col-4
                -# %label.checkbox
                -#   %input{:type => "checkbox"}
                -#   %i
                -#   Select
              %section.col.col-4
              %section.col.col-4
                = link_to "Book", "#",:ng_click =>"bookCareGiver(true)", :class => "button"
      .divider_dashed9
= render "shared/dynamic_pop_up_holder"
