.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} New City Requests
  %br
  .col-md-24
  
    %table.table.table-list
      %thead
        %th Name
        %th City
        %th Area
        %th Email
        %th Phone
      
      %tbody
        - @enquiry.each do |enquiry|
          %tr
            %td= enquiry.name
            %td= enquiry.city
            %td= enquiry.area
            %td= enquiry.email
            %td= enquiry.mobile_no
        
