//= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
.row{:ng_controller => "CareGiverBookingsController", :ng_init => "load_enquiry_from_missed_call('#{@missed_call_request.id}', '#{@missed_call_request.mobile_no}')"}
  %section{:ui_view => true}
