= render :partial => "shared/page_title", :locals => {:title => "Enquiry Step 2"}
.container
  .content_fullwidth
    .login_form
      = form_for(@enquiry, url: update_approach_enquiries_path, :method => "put", :html => {:class => "sky-form"}) do |f|
        - if f.object.errors.present?
          = render "shared/error_messages", :object => f.object
        %fieldset
          %section
            %label.select
              = f.select :mentioned_registration_type, options_for_select(Enquiry::REGISTRATION_TYPE_OPTIONS), {}, :id => "registration_type"
          %section{:id => "refered_mobile_no", :style => "display:none;"}
            %label.input
              = f.text_field :refered_mobile_no, :placeholder => "Mobile No"
        %footer
          = f.submit "Next", :class => "button"
