= render :partial => "shared/page_title", :locals => {:title => "Enquiry Step 3"}
.container
  .content_fullwidth
    .alicenter
      = form_for @service_request_form_object,as: "service_request_form_object", :url => update_service_request_enquiries_path, :method => "put" , :html => {:class => "sky-form"} do |f|
        %header Registration forM
        %fieldset
          .row
            - ServiceMaster.all.each_with_index do |ser, index|
              .col-md-3
                %section
                  .col-md-2
                    %label.checkboxinline
                      %input{:type => "checkbox", :name => "service_request_form_object[requested_services][]", :value => ser.id}
                      &nbsp;
                  .col-md-10
                    %label
                      = ser.service
        %header Care Giver Enquiry
        %fieldset
          .row
            %section.col.col-3
              %label.text
                Care giver gender?
            %section.col.col-2
              %label.radio-inline
                = f.radio_button :care_giver_gender, "MALE"
                %span Male
            %section.col.col-2
              %label.radio-inline
                = f.radio_button :care_giver_gender, "FEMALE"
                %span Female
            %section.col.col-2
              %label.radio-inline
                = f.radio_button :care_giver_gender, "MALE/FEMALE"
                %span Male/Female
            %section.col.col-2
              %label.radio-inline
                = f.radio_button :care_giver_gender, "ANY"
                %span Any
          .row
            %section.col.col-3
              %label.text
                Language Proficiency
            .col.col-9
              - LanguageMaster.all.each_with_index do |lan, index|
                %section.col.col-3
                  %label.checkbox-inline
                    %input{:type => "checkbox", :name => "service_request_form_object[language_profficiency][]", :value => lan.id}
                    = lan.language
          %fieldset
            %header Schedule Details
            .row
              %section.col.col-6
                %label.input
                  = f.text_field :service_required_from, :placeholder => "From Date", :type => "text", :class => "datepickerNoPast"
              %section.col.col-6
                %label.input
                  = f.text_field :service_required_to, :placeholder => "To Date", :type => "text", :class => "datepickerNoPast"
            %header Time Slots
            .row
              %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'"}
            %fieldset
              .row
                %section.col.col-5
                  %label.text Required to do Heavy Patient Lifting
                %section.col.col-4
                  %label.checkbox-inline>
                    = f.check_box :require_heavy_patient_lifting
              .row
                %section.col.col-5
                  %label.text Number of Care givers required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                %section.col.col-5
                  = f.text_field :no_of_care_givers, :max => "4", :min => "1", :type => "number", :value => "2"
              .row
                %section.col.col-3
                  %label.text
                    Care giver gender?
                - Enquiry::CAREGIVER_STAY_OPTIONS.each do |en|
                  %section.col.col-3
                    = f.radio_button :caregiver_stay, en
                    %span= en.titleize
        %footer
          = f.submit "Next", :class => "button"
