//= wicked_pdf_stylesheet_link_tag 'bootstrap'


:css
  table, th, td {
  border: 1 px solid black;
  border-collapse: collapse;
  }
.row
  %center
    %h1 Enquiry Details
  .col-md-4
    %h3
      %b
        %p= "Patient Name: #{@enquiry.patient_name.present? ? @enquiry.patient_name : @enquiry.requested_user_name}"
        %p= "Locality: #{@enquiry.address_str}"
        

  %section.col-md-5
    .row
      .col-md-1
      .col-md-10
        %table{:width => "100%", :cellpadding => "2"}
          %thead
            %th Services
            %th Service From 
            %th Service To
            %th Registered By
          %tbody
            %tr
              %td= @enquiry.services_str
              %td= @enquiry.service_required_from
              - if @enquiry.service_required_from.present? and @enquiry.service_required_to.blank?
                %td= "Long Term"
              - else
                %td= @enquiry.service_required_to
              %td= @enquiry.requested_user_name
.row
  .col-md-6
    %table{:width => "70%", :cellpadding => "2" , :align => 'left'}
      %tbody
        %tr
          %th No Of Caregivers
          %td= @enquiry.no_of_care_givers
        %tr
          %th Require Heavy Patient Lifting?
          - if @enquiry.require_heavy_patient_lifting.present? and @enquiry.require_heavy_patient_lifting == 'true'
            %td= @enquiry.require_heavy_patient_lifting
          - else
            %td= "Not Requiried"
        %tr
          %th Caregiver Stay
          %td= @enquiry.caregiver_stay
        %tr
          %th Language Profficiency
          %td= @enquiry.language_str
        %tr 
          %th Caregiver Gender
          %td= @enquiry.care_giver_gender

  .col-md-6
    - if @enquiry.caregiver_stay == 'LIVE_OUT'
      %table{:width => "25%", :cellpadding => "2" , :align => "right"}
        %thead
          %th From Time
          %th To Time
        %tbody
          - if @enquiry.requested_time_slots.present?
            - @enquiry.requested_time_slots.each do |time|
              %tr
                %td= time.time_from
                %td= time.time_to
          - else
            %tr
              %td= "NA"
              %td= "NA"
.row
  %br
  %br
  %header Selected Caregivers
  %table{:width => "100%", :cellpadding => "2"}
    - @enquiry.enquiry_care_givers.each do |enquiry_care_giver|
      %tr
        %th Name
        %th Phone
        %th Services
        %th Languages

      %tr
        %td{:style => "vertical-align:top;"} 
          %span.subHeader-clr= enquiry_care_giver.care_giver_master.name
        %td{:style => "vertical-align:top;"}= enquiry_care_giver.care_giver_master.telephone_no
        %td= enquiry_care_giver.care_giver_master.services_html.html_safe
        %td= enquiry_care_giver.care_giver_master.languages_html.html_safe

  - if @enquiry.closed?
    .row
      %table{:width => "100%", :cellpadding => "2"}
        %thead
          %th Status
          %th Closed At
          %th Closed By
          %th Comments
        %tbody
          %tr
            %td= @enquiry.status
            %td= @enquiry.closed_at
            %td= @enquiry.closed_by
            %td= @enquiry.closing_comments
