.pull-left
  = link_to "Back", enquiries_path, :class => 'btn btn-primary'
  = link_to "Print" , enquiry_path(@enquiry ,:format => :pdf ), :target => "blank", :class => "btn btn-primary"
  
= render "enquiry"
